


:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Open Sans";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Open Sans";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 14px;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.slick-slider {
  position: relative;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-slider .slick-list {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.slick-slider .slick-track {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}

.slick-slider .slick-slide {
  position: relative;
}

.header {
  margin: 12px 0px 0px 0px;
  padding: 0px 0px 12px 0px;
  border-bottom: 2px solid #bababa;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__item:nth-child(1) {
  margin: 0px 10px 0px 0px;
}

.header__item:nth-child(2) {
  margin: 0px 10px 0px 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__item:nth-child(3) {
  margin: 0px 8px 0px 0px;
}

.header__link-seller {
  display: inline-block;
  background-color: #00b050;
  -webkit-box-shadow: #00843c 0px -3px 0px inset;
          box-shadow: #00843c 0px -3px 0px inset;
  height: 42px;
  padding: 0px 27px;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__link-seller span {
  color: #fefefe;
  font-weight: 600;
  line-height: 40px;
  white-space: nowrap;
}

.header__link-seller:hover {
  background-color: #00d350;
}

.header__link-case {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__link-case a {
  display: block;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: #5f9abb;
}

.header__link-shield {
  margin: 0px 7px 0px 0px;
}

.header__link-shield img {
  position: relative;
  top: 8px;
  left: 10px;
}

.header__link-star .header-link-star {
  position: relative;
  top: 9px;
  left: 9px;
  color: #c9ebc9;
  font-size: 18px;
}

.logotyp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logotyp__image {
  margin: 0px 10px 0px 0px;
}

.logotyp__image img {
  width: 42px;
}

.logotyp__logo-name {
  position: relative;
}

.logotyp__avtomoto {
  display: block;
  color: #000;
  font-size: 21px;
  font-weight: 700;
  margin: 0px 0px 0px 0px;
}

.logotyp__avtomoto-info {
  position: absolute;
  top: 24px;
  left: 0;
  display: block;
  color: #5f99ba;
  font-size: 12px;
}

.menu-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 42px;
}

.menu-search__menu {
  background-color: #5f9abb;
}

.menu-search__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.menu-search__list > li {
  position: relative;
}

.menu-search__list > li:nth-child(1) {
  height: 100%;
  background-color: #326d8d;
  padding: 0px 12px;
  width: 165px;
}

.menu-search__list > li:nth-child(2) {
  margin: 0px 13px 0px 8px;
}

.menu-search__list > li:nth-child(4) {
  margin: 0px 6px 0px 11px;
}

.menu-search__left-dd-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../img/1_header/delta.png") right 50% no-repeat;
  height: 100%;
}

.menu-search__left-dd-menu span {
  color: #fff;
  font-size: 14px;
}

.menu-search__form-search {
  width: 100%;
}

.left-dd-menu {
  position: absolute;
  z-index: 5;
  left: 0;
  top: 42px;
  background-color: #326d8d;
  min-width: 165px;
  width: 100%;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.3s ease 0s;
  -o-transition: height 0.3s ease 0s;
  transition: height 0.3s ease 0s;
}

.left-dd-menu.open {
  z-index: 10;
  height: 280px;
}

.left-dd-menu > li {
  height: 35px;
  padding: 0px 10px;
}

.left-dd-menu > li:hover {
  background-color: #5f9abb;
}

.left-dd-menu > li:hover .left-dd-menu__link {
  color: #fff;
}

.left-dd-menu__link {
  color: #8fc2df;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
}

.right-dd-menu {
  position: absolute;
  z-index: 5;
  left: -35px;
  top: 32px;
  background-color: #5f9abb;
  min-width: 140px;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.3s ease 0s;
  -o-transition: height 0.3s ease 0s;
  transition: height 0.3s ease 0s;
}

.right-dd-menu.open {
  height: 245px;
  z-index: 10;
}

.right-dd-menu > li {
  height: 35px;
  padding: 0px 10px;
}

.right-dd-menu > li:hover {
  background-color: #326d8d;
}

.right-dd-menu__link {
  white-space: nowrap;
  color: #fff;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #de1f1f;
  height: 42px;
}

.form-search input::-webkit-input-placeholder {
  color: #fff;
}

.form-search input:-moz-placeholder {
  color: #fff;
}

.form-search input::-moz-placeholder {
  color: #fff;
}

.form-search input:-ms-input-placeholder {
  color: #fff;
}

.form-search__input {
  width: 100%;
  display: block;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0px 30px 0px 45px;
  background: url("../img/1_header/inp-input.png") 14px 12px no-repeat;
}

.form-search__button {
  background-color: #326d8d;
  color: #ffffff;
  padding: 0px 25px;
}

.banner {
  min-height: 100vh;
  background-color: #323b32;
  padding: 25px 18px;
}

.banner__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 25px 0px;
}

.banner__column_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner__category-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 280px;
  height: 50px;
  padding: 0px 12px;
  background-color: #005ba6;
  margin: 0px 15px 0px 0px;
}

.banner__category-link span {
  color: #ffffff;
  font-size: 16px;
  width: 100%;
  background: url("../img/icons/delta.png") right center no-repeat;
}

.banner__add-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 145px;
  height: 48px;
  background-color: #2bb741;
  border: 2px solid #ffffff;
  border-radius: 6px;
}

.banner__add-link span {
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
}

.banner__close-link {
  display: inline-block;
}

.banner__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -5px;
}

.banner__item {
  text-align: center;
  padding: 0px 5px;
  margin: 0px 0px 40px 0px;
}

.banner__image {
  display: block;
  margin: 0px 0px 10px 0px;
}

.banner__image img {
  max-width: 100%;
}

.banner__del-image {
  color: #c9c9c9;
  font-size: 16px;
}

@media (max-width: 1200px) {
  .form-search__input {
    font-size: 15px;
    padding: 0px 20px 0px 38px;
    background: url("../img/1_header/inp-input.png") 8px 12px no-repeat;
  }
}

@media (max-width: 1024px) {
  .header {
    margin: 0px 0px 0px 0px;
  }

  .banner {
    padding: 25px 14px;
  }

  .banner__content {
    margin: 0px -2.5px;
  }

  .banner__item {
    padding: 0px 2.5px;
  }
}

@media (max-width: 992px) {
  .header__adp-elem-1 {
    margin: 10px 0px 0px 0px;
  }
}

@media (max-width: 600px) {
  .banner {
    padding: 7px 7px;
  }

  .banner__links {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }

  .banner__column_left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }

  .banner__category-link {
    margin: 0px 0px 15px 0px;
    width: 255px;
  }

  .banner__close-link {
    margin: 8px 0px 0px 0px;
  }

  .banner__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .banner__item {
    margin: 0px 0px 35px 0px;
  }
}

@media (max-width: 580px) {
  .header__adp-elem-1 {
    height: 100px;
  }

  .header__adp-elem-2 {
    margin: 15px 0px 0px 0px;
  }

  .menu-search {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu-search__menu {
    height: 42px;
    margin: 0px 0px 15px 0px;
  }

  .menu-search__list li:nth-child(1) {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .menu-search__left-dd-menu {
    width: 100%;
  }

  .menu-search__form-search {
    height: 42px;
  }

  .right-dd-menu {
    left: auto;
    right: -6px;
  }
}

.webp .menu-search__left-dd-menu { background: url(../img/1_header/delta.webp) right 50% no-repeat; }

.webp .form-search__input { background: url(../img/1_header/inp-input.webp) 14px 12px no-repeat; }

.webp .banner__category-link span { background: url(../img/icons/delta.webp) right center no-repeat; }

@media (max-width: 1200px) {

  .webp .form-search__input { background: url(../img/1_header/inp-input.webp) 8px 12px no-repeat; }
}


@font-face {
  font-family: "Open Sans";
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  font-display: swap;
  src: url("../fonts/OpenSans-Semibold.woff") format("woff"), url("../fonts/OpenSans-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Open Sans";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Open Sans";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 14px;
  background-color: #c9ebc9;
}

.wrapper {
  padding: 0px 55px;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.header {
  margin: 24px 0px 0px 0px;
  padding: 0px 0px 24px 0px;
  border-bottom: 2px solid #bababa;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__item {
  margin: 0px 15px 0px 0px;
}

.header__link-money {
  display: block;
  color: #00b050;
  font-size: 18px;
  font-weight: 600;
  margin: 0px 0px 3px 0px;
}

.header__link-details {
  color: #326d8d;
  font-size: 14px;
}

.header__reflivk-copie {
  display: inline-block;
  height: 42px;
  padding: 0px 24px;
  line-height: 40px;
  background-color: #00b050;
  -webkit-box-shadow: #00843c 0px -3px 0px inset;
          box-shadow: #00843c 0px -3px 0px inset;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  margin: 0px 20px 0px 0px;
}

.header__reflivk-copie span {
  color: #fefefe;
  font-size: 14px;
  font-weight: 600;
}

.header__reflivk-copie:hover {
  background-color: #00d350;
}

.header__link-admin {
  color: #326d8d;
  font-size: 14px;
}

.blue-menu {
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  width: 40px;
  height: 100%;
  background-color: #5f9abb;
}

.orange-menu {
  position: fixed;
  z-index: 500;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  background-color: #efcb5b;
}

.invitation {
  margin: 18px 0px 100px 0px;
}

.invitation__title {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  margin: 0px 0px 36px 0px;
}

.item-one {
  margin: 0px 0px 40px 0px;
}

.item-one__title {
  color: #7e7e7e;
  font-size: 14px;
  margin: 0px 0px 30px 0px;
}

.item-one__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -15px;
}

.item-one__column {
  padding: 0px 15px;
  text-align: center;
}

.item-one__banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 36px;
  height: 42px;
  background-color: #5f9abb;
  -webkit-box-shadow: #377091 0px -3px 0px inset;
          box-shadow: #377091 0px -3px 0px inset;
  border-radius: 3px;
  margin: 0px 0px 15px 0px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.item-one__banner span {
  color: #fefefe;
  font-size: 14px;
  font-weight: 600;
}

.item-one__banner:hover {
  background-color: #81bcde;
}

.item-one__area-banner {
  width: 216px;
  height: 216px;
  background-color: #fff;
  margin: 0px 0px 10px 0px;
}

.item-one__del-banner {
  color: #326d8d;
  font-size: 14px;
}

.item-one__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 29px;
  height: 42px;
  background-color: #5f9abb;
  -webkit-box-shadow: #377091 0px -3px 0px inset;
          box-shadow: #377091 0px -3px 0px inset;
  border-radius: 3px;
  margin: 0px 0px 15px 0px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.item-one__image span {
  color: #fefefe;
  font-size: 14px;
  font-weight: 600;
}

.item-one__image:hover {
  background-color: #81bcde;
}

.item-one__area-image {
  width: 216px;
  height: 216px;
  background-color: #fff;
  margin: 0px 0px 10px 0px;
}

.item-one__del-image {
  color: #326d8d;
  font-size: 14px;
}

.item-two {
  margin: 0px 0px 40px 0px;
}

.item-two__ttile {
  color: #7e7e7e;
  font-size: 14px;
  margin: 0px 0px 12px 0px;
}

.item-two__textarea {
  max-width: 585px;
  width: 100%;
  height: 94px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  border-radius: 6px;
  resize: none;
  padding: 15px 15px;
}

.item-three__title {
  color: #7e7e7e;
  font-size: 14px;
  margin: 0px 0px 10px 0px;
}

.item-three__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-three__button {
  background-color: transparent;
  margin: 0px 4px 0px 0px;
}

@media (max-width: 1024px) {
  .wrapper {
    padding-top: 10px;
  }

  .header {
    margin: 0px 0px 0px 0px;
  }

  .blue-menu {
    width: 100%;
    height: 40px;
  }

  .orange-menu {
    top: auto;
    bottom: 0;
    width: 100%;
    height: 40px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    padding: 10px;
  }
}

@media (max-width: 600px) {
  .wrapper {
   
  }

  .header__body {
    display: block;
  }

  .header__item {
    margin: 0px 0px 15px 0px;
  }

  .header__item:last-child {
    margin: 0px 0px 0px 0px;
  }

  .header__reflivk-copie {
    margin: 0px 12px 0px 0px;
  }
}

@media (max-width: 480px) {
  .header {
    padding: 0px 0px 15px 0px;
  }

  .invitation {
    margin: 15px 0px 0px 0px;
  }

  .invitation__title {
    margin: 0px 0px 8px 0px;
  }

  .item-one {
    margin: 0px 0px 20px 0px;
  }

  .item-one__title {
    margin: 0px 0px 10px 0px;
  }

  .item-one__body {
    margin: 0px -3.5px;
  }

  .item-one__column {
    padding: 0px 3.5px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }

  .item-one__banner {
    width: 100%;
    padding: 0px 20px;
  }

  .item-one__area-banner {
    width: auto;
  }

  .item-one__image {
    width: 100%;
    padding: 0px 15px;
  }

  .item-one__area-image {
    width: auto;
  }

  .item-two {
    margin: 0px 0px 18px 0px;
  }
}

@media (max-width: 400px) {
  .item-one__area-banner {
    height: 150px;
  }

  .item-one__area-image {
    height: 150px;
  }
}
.ya-share2__item_service_vkontakte .ya-share2__icon{
  background: url(/img/1_content/01.png)!important;
}
.ya-share2__container_size_m .ya-share2__icon {
    height: 26px!important;
    width: 26px!important;
    background-size: 26px 26px!important;    
}
.ya-share2__item_service_facebook .ya-share2__icon{
  background: url(/img/1_content/03.png)!important;
}
.ya-share2__item_service_odnoklassniki .ya-share2__icon{
  background: url(/img/1_content/02.png)!important;
}
.ya-share2__item_service_twitter .ya-share2__icon{
  background: url(/img/1_content/05.png)!important;
}
.ya-share2__item_service_linkedin .ya-share2__icon{
  background: url(/img/1_content/06.png)!important;
}
.ya-share2__item_service_viber .ya-share2__icon{
  background: url(/img/1_content/09.png)!important;
}
.ya-share2__item_service_whatsapp .ya-share2__icon{
  background: url(/img/1_content/08.png)!important;
}
.ya-share2__item_service_skype .ya-share2__icon{
  background: url(/img/1_content/10.png)!important;
}
.ya-share2__item_service_viber .ya-share2__icon{
  background: url(/img/1_content/09.png)!important;
}
.ya-share2__item_service_telegram .ya-share2__icon{
  background: url(/img/1_content/07.png)!important;
}
.ya-share2__list a>span{
  background-color: transparent!important;
}
.item-one__column div label{
      width: 100%;
    height: 100%;
}
.item-one__column div label img{
  height: 100%;
    object-fit: cover;
}
.invite_page .main_main{
  width: inherit;
  margin: 0;
  padding: 0;
}


.banner_popup{
  display: none;
  position: absolute;
  top: 0;
  z-index: 1000000000;
}
.banner_popup .wrapper{
  padding: 0px 40px;
}
.banner__add-img{
  margin: 0 10px;
  padding-bottom: 20px;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}
.banner__add-img .banner__add-hidden{
  display: none;
}
.banner__add-img .banner__add-img_iner label{
    width: 300px;
    height: 300px;
    margin-top: 20px;
    background: #fff;
}
.banner__add-img{
  display: none;
}
.banner__add-img_open{
  display: block;
  margin-bottom: 20px;
}
.banner__add-link{
  cursor: pointer;
}
.banner__add-img_open .profile__input{
  width: inherit;
}
.banner__add-img_open .item-two__ttile{
  color: #ddd;
  margin-top: 10px;
}
.banner_popup{
  width: 100%;
}
.banner_popup .wrapper{
  padding: 0;
}