input:focus {
    outline-offset: 0 !important;
}
* {
    outline: none !important;
    zoom: normal;
}
a:hover,
a {
    text-decoration: none !important;
}
img,
iframe {
    max-width: 100%;
}


.blog-page,
.article-page,
.blog-admin {
    background: #c9ebc9;
    padding-bottom: 30px;
}
.blog-header {
    padding: 15px 0 20px;
}
.hamburger {
    width: 18px;
    height: 18px;
    position: relative;
    margin-right: 10px;
    cursor: pointer;
    padding: 0;
    border: 0;
    background: none;
}
.hamburger .bar {
    padding: 0;
    width: 18px;
    height: 3px;
    background-color: #6ea5bd;
    display: block;
    border-radius: 6px;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    position: absolute; 
}
.bar1 {
    top: 0;
}
.bar2,
.bar3 {
    top: 7.5px;
}
.bar3 {
    right: 0;
}
.bar4 {
    bottom: 0;
}
.btn {
    font-size: 14px;
    font-weight: 600;
}
.blog-menu.dropdown-menu {
    width: 230px;
    padding: 0;
    border: 0;
    border-radius: 0;
    background: #316c8d;
}
.blog-menu__item {
    display: block;
    color: #fff;
    padding: 10px 20px;
}
.blog-menu__item:hover {
    font-weight: normal !important;
    color: #ffffff !important;
    background: #52849f;
}
.header-page__name {
    font-size: 30px;
    color: #262626;
    font-weight: 700;
    margin-left: 15px;
    white-space: nowrap;
}
.blog-header__logo a {
    display: block;
}
.blog-header__logo, .blog-header__inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}
.search-block {
    width: 250px;
    margin: 0 20px 0 40px;
}
.header-search__input {
    border: 2px solid #dadada;
    border-radius: 6px;
    padding: 5px 15px 5px 35px;
    height: 45px;
    width: 100%;;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.header-search__input:focus {
    border: 2px solid #23a33b;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.account__total-line
{
    white-space: normal !important;
    word-break: break-word !important;
    width: 100%;
}
.search-block {
    position: relative;
}
.search-block:before {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 10px;
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background: url(../img/search.svg) no-repeat;
    background-size: cover;
}
.blog-header__text {
    display: inline-block;
    font-size: 12px;
    color: #316c8d;
    font-weight: 700;
}
.blog-page__blocks {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.blog-page__bigcol {
    max-width: 68%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 68%;
        -ms-flex: 0 0 68%;
            flex: 0 0 68%;
    margin-right: 15px;
}
.blog-page__smallcol {
    max-width: 30.5%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 30.5%;
        -ms-flex: 0 0 30.5%;
            flex: 0 0 30.5%;
}
.blog-last__header strong {
    margin-right: 30px;
}
.blog-last__header {
    background: #fff;
    padding: 15px 10px;
    font-size: 16px;
    border-radius: 10px 10px 0 0;
    margin-bottom: 5px;
}
.types-blog__dropdown {
    display: inline-block;
}
.types-blog {
    color: #006fbf;
    padding: 0;
    border: 0;
    background: none;
}
.blog-last__block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background: #fff;
    padding: 10px;
    margin-bottom: 5px;
}
/*.blog-last__block:nth-child(n+5) {*/
/*    display: none;*/
/*}*/
.blog-last__blocks.show-all .blog-last__block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.blog-image {
    width: 223px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 223px;
        -ms-flex: 0 0 223px;
            flex: 0 0 223px;
    height: 223px;
    margin-right: 10px;
}
.blog-image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
.blog-last-time {
    display: block;
    font-size: 12px;
    color: #7f7f7f;
    margin-bottom: 5px;
}
.blog-last__type {
    display: block;
    font-size: 12px;
    color: #23a33b;
    margin-bottom: 10px;
}
.blog-last__anons {
    display: block;
    color: #000;
    min-height: 60px;
}
.blog-last__title {
    display: block;
    font-size: 18px;
    color: #006fbf;
    font-weight: 600;
    margin-bottom: 15px;
    line-height: 1.2;
}
.blog-last__bottom {
    border-top: 1px solid #767676;
    margin-top: 10px;
    padding-top: 15px;
    font-size: 14px;
    font-weight: 600;
    color: #767676;
}
.blog-last__see,
.blog-last__like,
.blog-last__comment,
.blog-last__bottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    color: #767676;
}
.blog-last__see,
.blog-last__like {
    margin-right: 40px;
}
.blog-last__see:before {
    content: '';
    display: inline-block;        
    width: 21px;
    height: 16px;
    margin-right: 5px;
    background: url(../img/eye.png) no-repeat;
}
.blog-last__like:before {
    content: '';
    display: inline-block;        
    width: 22px;
    height: 21px;
    margin-right: 5px;
    background: url(../img/like.png) no-repeat;
}
.blog-last__like.active:before {
    background: url(../img/like-color.png) no-repeat;
}
.profile__balance.active:before {
    background: url(../img/balance-color.png) no-repeat;
}
.blog-last__comment:before {
    content: '';
    display: inline-block;        
    width: 24px;
    height: 25px;
    margin-right: 5px;
    background: url(../img/comment.png) no-repeat;
}
.article__body .blog-last__comment.active:before {
    background: url(../img/comment-color.png) no-repeat;
}
.blog-smallcol__header {
    padding: 15px 10px;
    font-size: 16px;
    border-radius: 10px 10px 0 0;
    margin-bottom: 5px;
    font-size:  16px;
    font-weight: bold;
}
.exspress-blog .blog-smallcol__header {
    background: #ffcdcd;
}
.blog-smallcol__block {
    padding: 10px;
    margin-bottom: 5px;
}
.exspress-blog {
    margin-bottom: 30px;
}
.exspress-blog .blog-smallcol__block {
    background: #ffcdcd;
}
.exspress-blog .blog-last__bottom,
.populat-blog  .blog-last__bottom,
.important-blog  .blog-last__bottom {
    padding: 8px 0 0 0;
    margin: 0;
    border: none;
}
.smallcol-block__body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.blog-smallcol__image {
    width: 65px;
    flex: 0 0 65px;
    height: 65px;
    margin-right: 10px;
}
.blog-smallcol__image img {
    -o-object-fit: cover;
       object-fit: cover;
}
.blog-smallcol__text {
    display: block;
    font-weight: 600;
    color: #006fbf;
}
.exspress-blog__see-all {
    display: inline-block;
    text-decoration: none;
    background: #af7373;
    color: #fff !important;
    border-radius: 4px;
    font-weight: 600;
    -webkit-box-shadow: rgb(131, 86, 86) 0px -2px 0px inset;
            box-shadow: rgb(131, 86, 86) 0px -2px 0px inset;
    padding: 10px 25px;
    line-height: 1.3;
    height: 40px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.exspress-blog__see-all:hover {
    text-decoration: none;
    background: #e89292;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    color: #fff !important;
}
.populat-blog .blog-smallcol__header {
    background: #ffe699;
    padding: 10px;
}
.populat-blog .nav-tabs {
    border: none;
}
.populat-blog .nav-tabs li:not(:last-child) {
    margin-right: 15px;
}
.populat-blog .nav-tabs>li.active>a, .populat-blog .nav-tabs>li.active>a:focus, .populat-blog .nav-tabs>li.active>a:hover {
    background: transparent;
    border: 0;
}
.populat-blog .nav-tabs .nav-link {
    margin: 0;
    padding: 0;
    background: transparent;
    font-size: 12px;
    color: #006fbf !important;   
    border: none;
    font-weight: normal;
}
.populat-blog .nav-tabs .nav-item.active .nav-link {
    color: #000 !important;
    background: transparent;
    border: none;
}
.populat-blog .blog-smallcol__block {
    background: #ffe699;
}
.populat-blog {
    margin-bottom: 25px;
}
.popular-blog__see-all {
    display: inline-block;
    text-decoration: none;
    background: #b99534;
    color: #fff !important;
    border-radius: 4px;
    font-weight: 600;
    -webkit-box-shadow: rgb(139, 112, 39) 0px -2px 0px inset;
            box-shadow: rgb(139, 112, 39) 0px -2px 0px inset;
    padding: 10px 25px;
    line-height: 1.3;
    height: 40px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.popular-blog__see-all:hover {
    background: #d4a933;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    color: #fff !important;
}
.important-blog .blog-smallcol__header {
    background: #e2cff1;
}
.important-blog .blog-smallcol__block {
    background: #e2cff1;
}
.important-blog__see-all {
    display: inline-block;
    text-decoration: none;
    background: #9473ad;
    color: #fff !important;
    border-radius: 4px;
    font-weight: 600;
    -webkit-box-shadow: rgb(111, 86, 130) 0px -2px 0px inset;
            box-shadow: rgb(111, 86, 130) 0px -2px 0px inset;
    padding: 10px 25px;
    line-height: 1.3;
    height: 40px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.important-blog__see-all:hover {
    background: #bd90de;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    color: #fff !important;
}
.blog-last__see-all {
    display: inline-block;
    text-decoration: none;
    background: #316c8d;
    color: #fff !important;
    border-radius: 4px;
    font-weight: 600;
    -webkit-box-shadow: rgb(37, 81, 106) 0px -2px 0px inset;
            box-shadow: rgb(37, 81, 106) 0px -2px 0px inset;
    padding: 10px 25px;
    line-height: 1.3;
    height: 40px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.blog-last__see-all:hover {
    background: #4393bf;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    color: #fff !important;
}


.article-container {
    max-width: 850px;
    margin: 0 auto;
    padding: 0 15px;
}

.article__body {
    margin-bottom: 15px;
}
.article__block {
    background: #fff;
    padding: 15px;
}
.acticle__data {
    font-size: 12px;
    color: #7f7f7f;
    margin-bottom: 10px;
    font-weight: 600;
}
.acticle__type {
    display: block;
    margin-bottom: 15px;
    font-size: 12px;
    color: #23a33b;
    font-weight: 600;
}
.acticle__title {
    font-size: 18px;
    color: #262626;
    font-weight: 600;
    margin-bottom: 20px;
}
.article__img,
.article__content p,
.article__content iframe {
    margin-bottom: 15px;
}
.article__img, .article__content p {
    font-size: 15px !important;
    font-weight: 550;
}

.article-reviews__block {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    padding-bottom: 10px;
    /*border-bottom: 1px solid #a4b5a4;*/
}
.article-reviews__content {
    background: #fff;
    padding: 12px 8px;
    font-size: 12px;
    color: #808080;
}
.article-reviews__block.public .article-reviews__block--right {
    display: flex;
    align-items: center;
    margin-right: -88px;
    /*position: relative;
    top: -3px;*/
}
.article-reviews__block.nopublic .article-reviews__block--right {
    display: flex;
    align-items: center;
    margin-right: -88px;
    width: calc(100% + 20px);
}
.article-reviews__block.public .article-reviews__content {
    border-radius: 10px;
    position: relative;
}
.article-reviews__block.public .article-reviews__content:before {
    content: '';
    position: absolute;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid #fff;
    border-left: 7px solid transparent;
}
.article-reviews__avatar {
    width: 50px;
    flex: 0 0 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: 10px;
}
.article-reviews__avatar img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: contain;
}
.article-reviews__action {
    margin-left: 15px;
}
.article-reviews__edit {
    margin-bottom: 7px;
}
.article-reviews__edit,
.article-reviews__delete {
    display: block;
    cursor: pointer;
    font-size: 10px;
    color: #316c8d;
}
.article-reviews__block.nopublic .article-reviews__content {
    width: 100%;
    padding: 0;
}
.article-reviews__bottom {
    margin-bottom: 10px;
    padding-bottom: 10px;
    /*border-bottom: 1px solid #a4b5a4;*/
}
.article-reviews__btn {
    max-width: 170px;
    min-width: 170px;
    height: 40px;
    border-radius: 4px;
    font-weight: 600;
    padding: 5px 15px;
    background: #00b050;
    color: #fff;
    box-shadow: rgb(0, 132, 60) 0px -2px 0px inset;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    border: 0;
    font-size: 14px;
}
.article-reviews__btn:hover {
    background: #08d164;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.leave-comment .article-reviews__block {
    border: 0;
    padding: 0;
    margin-bottom: 15px;
}
.leave-comment__textarea {
    width: 100%;
    border: 0;
    padding: 10px;
    height: 50px;
    resize: none;
    color: #333;
    font-size: 13px !important;
    font-weight: 550;
}
.leave-comment__bottom {
    text-align: right;
}
.article-reviews__text {
    color: #333;
    font-size: 13px;
    font-weight: 550;
}
.blog-admin__nav {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}
.blog-admin__nav a {
    display: inline-block;
    padding: 15px 0;
    border: 0;
    font-size: 16px;
    font-weight: bold;
}
.blog-admin__nav li:not(:last-child) {
    margin-right: 20px;
}
.blog-admin__nav li.active>a,
.blog-admin__nav li.active>a:focus,
.blog-admin__nav li.active>a:hover {
    border: 0;
    padding:15px  0;
    color: #7e7e7e;
}

.blog-admin__content {
    margin-top: 10px;
}
.new-public__header {
    /*margin-bottom: 10px;*/
}
.nav-tabs>li.active>a {
    background: transparent;
}
.field-news-title input {
    height: 40px;
    font-size: 15px;
    font-weight: 550;
    border: 2px solid #dadada;
    border-radius: 6px;
}
.field-news-content label,
.field-news-title label {
    display: none;
}
.new-public__selectors {
    margin: 20px 0;
}
.choose-rubrika__selector,
.highlight__selector {
    width: 270px;
    height: 40px;
    border: 2px solid #dadada;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 550;
    padding: 0 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.highlight__selector {
    width: 190px;
}
.selector-block {
    display: inline-block;
    position: relative;
}
.selector-block .field-news-rubric {
   width: 270px; 
}
.selector-block .field-news-rubric .select2-container--krajee .select2-selection {
    height: 40px;
    position: relative;
    border: 2px solid #dadada;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 550;
    padding: 0 35px 0 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.selector-block .field-news-rubric .select2-container--krajee .select2-selection:after {
    position: absolute;
    content: "";
    top: 17px;
    right: 15px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #7e7e7e transparent transparent transparent;
}
.selector-block .select2-container--krajee .select2-selection--multiple .select2-search--inline .select2-search__field {
    padding: 0;
    height: 36px;
    font-size: 15px;
    font-weight: 600;
    color: #000 !important;
}
.selector-block .select2-container--krajee .select2-selection--multiple .select2-search--inline .select2-search__field::placeholder {
    color: #000;
}
/*
.selector-block:after {
    position: absolute;
    content: "";
    top: 18px;
    right: 15px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #7e7e7e transparent transparent transparent;
}*/
.selector-block + .selector-block {
    margin-left: 15px;
}
.new-public__buttons button {
    min-width: 150px;
    height: 40px;
    margin-right: 15px;
    font-size: 14px;
    font-weight: 550;
    color: #fff;
}
.btn--green {
    background: #00b050;
    box-shadow: rgb(0, 132, 60) 0px -2px 0px inset;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    color: #fff;
}
.btn--green:hover {
    background: #08d164;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    color: #fff;
}
.btn--blue {
    background: #316c8d;
    -webkit-box-shadow: rgb(37, 81, 106) 0px -2px 0px inset;
    box-shadow: rgb(37, 81, 106) 0px -2px 0px inset;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    color: #fff;
}
.btn--blue:hover {
    background: #4393bf;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    color: #fff;
}
.btn--orange {
    background: #ef8d4b;
    -webkit-box-shadow: rgb(179, 106, 56) 0px -2px 0px inset;
    box-shadow: rgb(179, 106, 56) 0px -2px 0px inset;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    color: #fff;
}
.btn--orange:hover {
    background: #ff964f;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    color: #fff;
}
.btn--blue:focus,
.btn--orange:focus,
.btn--green:focus {
    color: #fff;
}
.public-post__bottom {
    display: flex;
    justify-content: space-between;
}
.public-post__bottom .blog-last__bottom {
    padding: 0;
    margin: 0;
    border: 0;
}
.public-post__bottom {
    border-top: 1px solid #767676;
    margin-top: 10px;
    padding-top: 15px;
}
.public-post__redact,
.public-post__remove {
    display: inline-block;
    color: #23a33b;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}
.public-post__redact:hover,
.public-post__remove:hover {
    color: #27cc46;
}
.public-post__redact {
    margin-right: 20px;
}
.rubrika-post__inner {
    max-width: 400px;
}
.rubrika-post__block,
.alfabet-post__block {
    position: relative;
    margin-bottom: 5px;
}
.rubrika-post__inner input {
    max-width: 270px;
    height: 40px;
    font-size: 15px;
    font-weight: 550;
    border: 2px solid #dadada;
    border-radius: 6px;
}
.rubrika-post__title {
    margin-bottom: 10px;
    font-size: 16px;
    color: #262626;
    font-weight: 600;
}
.fix-post {
    margin-bottom: 20px;
}
.alfabet-post__blocks {
    margin-bottom: 10px;
}
.alfabet-post__block {
    display: flex;
    /*justify-content: space-between;*/
    -ms-align-items: center;
    align-items: center;
}
.alfabet-post__block button {
    min-width: 105px;
    height: 40px;
    color: #fff;
    font-weight: 600;
    margin-left: 10px;
}

.alfabet-post__block a {
    min-width: 105px;
    height: 40px;
    color: #fff;
    font-weight: 600;
    margin-left: 10px;
}

.rubrika-post__save {
    min-width: 150px;
    height: 40px;
    color: #fff;
    font-weight: 600;  
}

.before-remove__info {
    position: absolute;
    top: -177%;
    right: -40%;
    background: #d74545;
    border-radius: 22px;
    max-width: 270px;
    font-size: 11px;
    color: #ffd6d6;
    font-weight: 600;
    padding: 8px 10px 10px 20px;
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.25);
}
.before-remove__info-inner {
    position: relative;
}
.before-remove__info-inner:before {
    content: "";
    border: 5px solid transparent;
    border-top: 22px solid #d74545;
    position: absolute;
    bottom: -100%;
    transform: rotate(30deg);
    left: 10px;
}
.before-remove__info-inner:after {
    position: absolute;
    content: '';
    display: block;
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.25);
    left: 15.5px;
    bottom: -24px;
    border: 5px solid transparent;
    border-top: 15px solid transparent;
    transform: rotate(42deg);
    border-left: 0;
}
.alfabet-post__btn-remove:active {
    background: #c55a11;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.editors-post__profile-input {
    max-width: 270px;
    height: 40px;
    font-size: 15px;
    font-weight: 550;
    border: 2px solid #dadada;
    border-radius: 6px;
    margin-right: 10px;
}
.editors-post__profile {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}
.editors-post__profile-btn {
    height: 40px;
    min-width: 150px;
    font-weight: 600;
}
.editors-post__block {
    margin-bottom: 20px;
}
.editors-post__name {
    font-size: 16px;
    font-weight: 600;
    color: #316f88;
    margin-bottom: 5px;
}
.editors-post__remove {
    display: block;
    font-size: 13px;
    color: #ef9147;
    cursor: pointer;
}
.editors-post__post {
    display: block;
    font-size: 13px;
    color: #8f9b8f;
}
.blog-admin .header-page__name {
    margin-top: 0;
}

/*PROFILE*/
/*
.profile .main_main {
    padding: 15px 10px 0;
} */
.profile__header {
    padding-bottom: 20px;
    border-bottom: 2px solid #bababa;
    margin-bottom: 20px;
}
.profile__header-right {
    display: flex;
    align-items: center;
}
.profile__header,
.profile__header-inputs {
    display: flex;
    align-items: center;
}
.page-name {
    width: 115px;
    flex: 0 0 115px;
    margin-right: 30px;
    font-size: 16px;
    font-weight: 600;
    color: #00b050;
    line-height: 1.2;
}
.profile__header-inputs .profile__input-block:not(:last-child) {
    margin-right: 15px;
}
.profile__header-inputs {
    margin-right: 35px;
}
.profile__input-label {
    display: block;
    font-size: 12px;
    color: #2c2c2c;
    margin-bottom: 3px;
    font-weight: 600;
}
.profile__input {
   display: block;
   width: 100%;
   height: 45px;
   padding: 5px 15px;
   font-size: 15px;
   background: #fff;
   border: 1px solid #e4e4e4;
   border-radius: 6px;
   transition: 1s;

}
.profile__input:focus {
    transition: 1s;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(14,170,242,0.6);
    -moz-box-shadow: 0px 0px 8px 0px rgba(14,170,242,0.6);
    box-shadow: 0px 0px 8px 0px rgba(14,170,242,0.6);
}
.profile__messengers-blocks {
    columns: 2;
}
.profile__checkbox-block {
    display: block;
    margin-bottom: 3px;
}
.profile__messengers-name {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 11px;
    color: #2c2c2c;
    font-weight: 600;
    cursor: pointer;
}
.profile__messengers-name:before {
    content: '';
    display: inline-block;
    width: 17px;
    height: 17px;
    border: 1px solid #9ca69c;
    border-radius: 2px;
    background: #fff;
    margin-right: 6px;
}
.profile__messengers-name:after {
    position: absolute;
    left: 4px;
    z-index: 9;
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background: url(/img/checked.svg) no-repeat;
    opacity: 0;
    transition: .2s;
}
.profile__messengers-input:checked + .profile__messengers-name:after {
    opacity: 1;
    background-size: cover;
}
.profile__messengers-input {
    opacity: 0;
    position: absolute;
    z-index: -1;
}
.profile__messengers {
    margin-right: 35px;
}
.profile__save-setting {
    width: 185px;
    flex: 0 0 185px;
    font-size: 14px;
    font-weight: 600;
    height: 40px;
    line-height: 1;
}
.profile__body {
    display: flex;
    padding-bottom: 30px;
    border-bottom: 2px solid #bababa;
}
.profile__body-left {
    display: flex;
    width: 630px;
    margin-right: 20px;
}
.profile__body-right {
    width: 630px;
}
.profile__user-blocks {
    flex: 1;
}
.profile__images {
    width: 265px;
    padding: 0 15px;
    text-align: center;
    margin-top: 10px;
}
.profile__user-photo {
    width: 225px;
    height: 225px;
    border-radius: 100%;
    background: #fff;
    margin: 0 auto 18px;
    position: relative;
}
.profile__user-photo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 100%;
}
.profile__block-photo:first-child {
    margin-bottom: 35px;
}
.profile__photo-download,
.profile__emblem-download {
    height: 40px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1;
}
.profile__user-emblem {
    width: 230px;
    height: 230px;
    margin: 0 auto 15px;
    border-radius: 17px;
    background: #fff;
}
.profile__user-emblem img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.profile__user-text {
    font-size: 11px;
    color: #939393;
    margin-top: 15px;
}

.profile__user-block:not(:last-child) {
    margin-bottom: 8px;
}
.profile__user-block--small {
    width: 145px;
}
.profile__user-block--inputs {
    display: flex;
}
.profile__user-block--meddium {
    /*width: 470px;*/
    flex: 1;
    margin-right: 15px;
}
.profile__buttons {
    margin-top: 15px;
}
.profile__social-blocks {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}
.profile__social-block {
    width: 49%;
}
.profile__social-line:not(:last-child) {
    margin-bottom: 8px;
}
.profile__social-input {
    position: relative;
}
.profile__social-input input {
    padding: 5px 15px 5px 45px;
}
.profile__social-icon:before {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    content: '';
    display: block;
    width: 25px;
    height: 25px;
}
.profile__social--vk:before {
    background: url(/img/vk.svg) no-repeat;
    background-size: 24px;
}
.profile__social--fb:before {
    background: url(/img/facebook.svg) no-repeat;
    background-size: 24px;
}
.profile__social--tw:before {
    background: url(/img/twitter.svg) no-repeat;
    background-size: 24px;
}
.profile__social--ok:before {
    background: url(/img/odnoklassniki.svg) no-repeat;
    background-size: 24px;
}
.profile__social--insta:before {
    background: url(/img/instagram.svg) no-repeat;
    background-size: 24px;
}
.profile__social--yt:before {
    background: url(/img/youtube.svg) no-repeat;
    background-size: 24px;
}
.profile__preview-btn,
.profile__save-btn {
    height: 40px;
    font-weight: 600;
    line-height: 1;
    font-size: 14px;
}
.profile__save-btn {
    margin-right: 15px;
}
.profile__bottom {
    display: flex;
    margin-top: 8px;
}
.profile__balance {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(118, 118, 118);
}
.profile__balance:before {
    content: '';
    display: block;
    width: 21px;
    height: 22px;
    margin-right: 5px;
    background: url(/img/balance__grey.png) no-repeat;
}
/*body.home-index {
    overflow-y: scroll !important;
}*/
.index-page {
    height: 100%;
}
.mCSB_outside+.mCS-minimal-dark.mCSB_scrollTools_vertical {
    right: -5px;
}
.index-page .mCSB_outside+.mCS-minimal-dark.mCSB_scrollTools_vertical {
    right: 0;
}
.profile__menu-btn,
.profile__ection-btn {
    border: 0;
    background: none;
    padding: 0;
    display: flex;
    align-items: center;
}
.account__header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    z-index: 1;
    background: #50d050;
/*    padding: 2px 0;*/
    transition: 0.5s;
}
.account__photo {
    width: 35px;
    height: 35px;
    background: #fff;
    border-radius: 100%;
}
.account__info-text {
    position: relative;
    font-size: 12px;
    font-weight: 600;
    color: #ffffff;
    margin-left: 6px;
    margin-right: 6px;
}
/*
.account__info-text:after {
    position: absolute;
    right: 0;
    top: 4px;
    content:'';
    display: block;
    width: 11px;
    height: 10px;
    background: url(../img/arrow-down.svg) no-repeat;
    background-size: 100%;
}*/
.account__info-text .menu-dots{
    width: 20px;
}
.account__info-text .menu-dots .dot1{
    right: 0;
    transform: translateY(-50%);
    top: 50%;
}
.account__info-text .menu-dots .dot2{
    left: 50%;
    transform: translate(-50%, -50%);
}
.account__info-text .menu-dots .dot3{
    left: 0;
    transform: translateY(-50%);
    top: 50%;
}

.account__dropdown-item {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 12px;
    padding: 8px 10px;
}
.account__dropdown-item:hover,
.account__dropdown-item.active {
    background: #41af41;
    color: #fff;
}
.account__dropdown-menu,
.account__edition-dropdown {
    width: 150px;
    background: #50d050;
    border: 0;
    border-radius: 0;
    padding: 0;
}
.account__edition-dropdown {
    top: 38px!important;
    transform: inherit!important;
  right: 0!important;
  left: inherit!important;
  background-color: #00b050!important;
}
.account__dropdown-menu{
    top: 28px!important;
    transform: inherit!important;
  right: 0!important;
  left: inherit!important;
}
.account__dropdown-menu {
    /*left: 25px !important;*/
    /*top: 38px !important;*/

}
@media(min-width: 640px){
.account__dropdown-menu{
    top: 0!important
}
}
.account__header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
}
.account__header .hamburger .bar {
    background-color: #fff;
}
.menu-dots {
    height: 20px;
    width: 5px;
    position: relative;
    cursor: pointer;

}
.account__header-right .hamburger {
    margin-right: 0;
    margin-left: 15px;
}
.menu-dot {
    position: absolute;
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background: #fff;
}
.dot1 {
    top: 0;
}
.dot2 {
    transform: translateY(-50%);
    top: 50%;
}
.dot3 {
    bottom: 0;
}
.account__dropdown-item:before {
    display: block;
    content: '';
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-position: center center !important;
}
.account__dropdown-item--chat:before {
    background: url(/img/orange_menu/chat.png) no-repeat;
    background-size: contain;
}
.account__dropdown-item--rod:before {
    background: url(/img/icon/rod-icon.png) no-repeat;
}
.account__dropdown-item--profile:before {
    background: url(/img/icon/profile-icon.png) no-repeat;
}
.account__dropdown-item--wiki:before {
    background: url(/img/icon/wiki-icon.png) no-repeat;
}
.account__dropdown-item--photo:before {
    background: url(/img/icon/photo-icon.png) no-repeat;
}
.account__dropdown-item--video:before {
    background: url(/img/icon/video-icon.png) no-repeat;
}
.account__dropdown-item--conect:before {
    background: url(/img/icon/conect-icon.png) no-repeat;
}
.account__dropdown-item--book:before {
    background: url(/img/icon/book-icon.png) no-repeat;
}
.account__dropdown-item--blog:before {
    background: url(/img/icon/blog-icon.png) no-repeat;
}
.account__dropdown-item-lenta:before {
    background: url(/img/orange_menu/news_white.png) no-repeat;
}
.account__dropdown-item--community:before {
    background: url(/img/icon/community-icon.png) no-repeat;
}
.account__dropdown-item--promotions:before {
    background: url(/img/icon/promotions-icon.png) no-repeat;
    background-size: contain;
}

.account__dropdown-item--anketa:before {
    background: url(/img/orange_menu/anceta_white.png) no-repeat;
}
.account__dropdown-item--rezume:before {
    background: url(/img/orange_menu/rezume_white.png) no-repeat;
}
.account__dropdown-item--stor:before {
    background: url(/img/icon/stor-icon.png) no-repeat;
}
.account__dropdown-item--office:before {
    background: url(/img/orange_menu/book.png) no-repeat;
}
.scroll-block,
.account {
    height: 100%;
}
.account__edition-item {
    display: block;
    font-size: 12px;
    color: #fff;
    padding: 8px 10px;
}
.account__edition-item:hover {
    color: #fff !important;
    background: #41af41;
}
.account__user-photo {
    width: 70px;
    height: 70px;
    margin-right: 10px;
    background: #fff;
    border-radius: 100%;
}
.account__user-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.account__user-info {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 2px solid #bababa;
}
.account__user-title {
    font-size: 24px;
    font-weight: 600;
    color: #00b050;
    margin-bottom: 5px;
    line-height: 1;
}
.account__user-name {
    font-size: 19px;
    color: #797979;
}
.account__total {
    margin-top: 25px;
}
.account__total-left .profile__images {
    width: 240px;
    margin: 0 50px 0 0;
    padding: 0 5px;
}
.account__total,
.account__total-left {
    display: flex;
}
.account__total-lines {
    margin-right: 30px;
    width: 240px;
    white-space: normal;
}
.account__total-title {
    font-size: 12px;
    color: #797979;
}
.account__total-desc {
    font-size: 14px;
    color: #797979;
    white-space: normal;
}
.account__total-desc.account__total-desc--full {
    color: #000;

}
.account__total-line:not(:last-child) {
    margin-bottom: 20px;
    white-space: normal !important;
    word-wrap: break-word;
}
.user-social__link {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 5px;
    background-size: contain !important;
    border-radius: 100%;
}
.user-social__link--vk {
    background: #fff url(/img/vk.svg) no-repeat;
}
.user-social__link--ok {
    background: #fff url(/img/odnoklassniki.svg) no-repeat;
}
.user-social__link--fb {
    background: #fff url(/img/facebook.svg) no-repeat;
}
.user-social__link--insta {
    background: #fff url(/img/instagram.svg) no-repeat;
}
.user-social__link--tw {
    background: #fff url(/img/twitter.svg) no-repeat;
}
.user-social__link--yb {
    background: #fff url(/img/youtube.svg) no-repeat;
}
.account__body {
    padding-bottom: 25px;
    padding-top: 45px;
}
.account__body-bottom {
    padding-bottom: 30px;
    border-top: 2px solid #bababa;
}
.account .mCSB_outside+.mCS-minimal-dark.mCSB_scrollTools_vertical {
    right: 0;
    height: calc(100% - 60px);
    bottom: 0;
    top: auto;
}
.account__header .container-fluid {
    padding: 0;
}
.account-page .blue_menu {
    left: -40px;
    transition: 0.5s;
}
.blue_menu.opened {
    left: 0;
    transition: 0.5s;
}
.account-page .orange_menu {
    right: -40px;
    position: fixed !important;
    /*width: 0;*/
    transition: 0.5s;
}
.orange_menu.opened {
    /*width: 40px;*/
    right: 0;
    transition: 0.5s;
}
.account-page.move-left {
    margin-left: 40px;
    transition: 0.5s;
}
.account-page.move-right {
    margin-right: 40px;
    /*width: calc(100% - 40px);*/
    transition: 0.5s;
}
.account-page.move-right .account__edition-dropdown {
    left: -35px !important;
}
.account-page.move-right .account__header {
    width: calc(100% - 40px);
    transition: 0.5s;
}
.account-page.move-left .account__header {
    width: calc(100% - 40px);
    transition: 0.5s;
}
.account-page.move-right.move-left .account__header {
    width: calc(100% - 80px);
    transition: 0.5s;
}
.account__header-block {
    display: flex;
    align-items: center;
}
.account-page {
    transition: all .5s;
}
.account-page .hamburger {
    margin: 0;
}
.account-page .blue_menu .menu_und,
.account-page .orange_menu .menu_und {
    opacity: 0;
    transition: 0.5s;
}
.account-page.move-left .blue_menu .menu_und,
.account-page.move-right .orange_menu .menu_und {
    opacity: 1;
    transition: 0.5s;
}
.hamburger-for-bluemenu,
.hamburger-for-orangemenu {
    padding: 10px 11px;
    height: 40px;
}
.hamburger-for-bluemenu {
    background: #5f9abb;
     margin-right: 10px;
}
.hamburger-for-orangemenu {
    background: #efcb5b;

}


.invalid-feedback
{
    font-size: 100% !important;
}
#editadditionalsetting-totem
{

    line-height: 1.5;
    background-clip: padding-box;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    width: 200px;
    font-size: 15px;
    padding: 5px;
    height: 45px;
    border-radius: 5px;
    background: #5F9ABB;
    border: 0px solid #e4e4e4;
    color: white;
    padding-left: 10px;

}
.dropsc
{
    display: none;
}
.img_vip
{

    display: none;
}
#editadditionalsetting-totem:focus
{
    border: 0;
}

.alert-danger {
    color: white;
    background-color: #CF3030;
    width: 400px;
    height: 50px;
    font-size: 16px;
    left: 35%;
    border-color: #c3e6cb;
    z-index: 11;
    position: absolute;
    opacity: 1 !important;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
    border: 0;
}
.alert-success {
    color: #155724;
    background-color: #d4edda;
    width: 400px;
    height: 50px;
    font-size: 16px;
    left: 35%;
    border-color: #c3e6cb;
    z-index: 11;
    position: absolute;
    opacity: 1 !important;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
}
.file-upload {
    opacity: 0;
    position: absolute;

    left:0;
    height: 40px !important;
    width:100% !important;
    border: 1px solid red;
    cursor: pointer;
}
.file-upload1 {
    opacity: 0;
    position: absolute;

    left:0;
    height: 40px !important;
    width:100% !important;
    border: 1px solid red;
    cursor: pointer;
}
.profile__block-photo
{
    position: relative;
}
.file-container {
    position:relative;
}
.custom-file-upload {
    position: absolute;
    top:0;
    left:0;
}
#status {
    font-size: 25px;
    color:red;
    font-weight: bold;
}
.account_inf
{
    color: white;
    line-height: 15px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 8px;
}
.account_inf_fio
{
    font-weight: bold;
    font-size: 12px;
}
.account_inf_city
{
    font-size: 10px;
}
.ppls2 .dot2 {
    transform: translateX(-75%);
    right: 75%;
    top:0;
}
.ppls2 .dot3 {
    transform: translateX(-150%);
    right: 150%;
    bottom: auto;
}
.ppls2 .menu-dots {
    left: 26px;
    top: 8px;
}
.ppls2
{
    width: 40px;
    height: 40px;
    margin-left: 10px;
    display: inline-flex;
    display: none;
}
.ppls2 .account__edition-dropdown
{
    top:0px !important;
    left:-65px !important;
}

.ppls2 #profileEctionButton
{
    width: 40px;
    height: 40px;
}
.account__photo img
{
    width: 100%;
    border-radius: 100%;
    object-fit: cover;
    height: 100%;
}

.account__photo
{

    overflow: hidden;

}

.account__user-photo img
{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}


/*BALANCE*/
.balance__header {
    padding: 10px 0;
    border-bottom: 2px solid #bababa;
    margin-bottom: 10px;
}
.balance__header-inner .page-name {
    float: left;
    width: 75px;
    flex: 0 0 75px;
    margin-right: 20px;
    margin-bottom: 0;
}
.page-subname {
    font-size: 12px;
    color: #2297d8;
}
.balance__currency {
    width: 80%;
    display: inline-block;
    vertical-align: text-top;
    line-height: 1;
}
.balance__currency-link {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    color: #5f9abb;
}
.balance__currency-link:not(:last-child) {
    margin-right: 15px;
}
.balance__currency-link.active,
.balance__currency-link:hover {
    color: #4a4a4a;
}
.balance__currency-summa {
    display: inline-block;
    color: #000000;
}
.balance__total {
    float: right;
    text-align: right;
    white-space: nowrap;
}
.balance__total-title {
    font-size: 14px;
    font-weight: bold;
    color: #00b050;
    line-height: 1;
}
.balance__total-summa {
    font-size: 18px;
    color: #282828;
    font-weight: bold;
}
.balance__actions-tabs {
    margin-bottom: 15px;
    border-bottom: 0;
}
.balance__actions-tabs .nav-link {
    border: 0;
    background: transparent;
    font-size: 14px;
    font-weight: bold;
    color: #5f9abb;
    padding: 0;
    margin-right: 20px;
}
.balance__actions-tabs .nav-link.active {
    color: #000;
    border: 0;
    background: transparent;
}
.balance__action-form {
    display: flex;
    align-items: center;
}
.action-form__block{
    width: 240px;
    position: relative;
    margin-right: 15px;
    padding-bottom: 10px;
}

.action-form__block .profile__input:focus {
    -webkit-box-shadow: inset 0px 0px 7px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: inset 0px 0px 7px 0px rgba(0,0,0,0.45);
    box-shadow: inset 0px 0px 7px 0px rgba(0,0,0,0.45);
}
.action-form__error {
    position: absolute;
    left: 5px;
    font-weight: 550;
    font-size: 10px;
    color: #db1b1c;
}
.action-form__button {
    padding-bottom: 10px;
}
.balance__action-btn {
    height: 45px;
    width: 140px;
    font-weight: 600;
    font-size: 14px;
    color: #fefefe;
}
.balance__actions {
    margin-bottom: 60px;
}
.balance__bills-filter {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    color: #000;
    margin-right: 45px;
    cursor: pointer;
    white-space: nowrap;
}
.balance__bills-filter.coming-bills {
    color: #00b050;
}
.balance__bills-filter.expenses-bills {
    color: #be4c4c;
}
.balance__bills-filter.rod-bills,
.balance__bills-filter.promotions-bills {
    color: #5f9abb;
}
.balance__bills-filters {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}
.bills-search {
    max-width: 240px;
    flex: auto;
}
.bills-search__input {
    height: 45px;
    width: 100%;
    border-radius: 6px;
    transition: 1s;
    border: 1px solid #e4e4e4;
    padding: 5px 15px;
    font-size: 15px;
}
.bills-line__right .balance__bills-block {
    min-width: 45px;
}
.bills-search__input:focus {
        -webkit-box-shadow: inset 0px 0px 7px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: inset 0px 0px 7px 0px rgba(0,0,0,0.45);
    box-shadow: inset 0px 0px 7px 0px rgba(0,0,0,0.45);
}
.balance__bills-title {
    font-size: 12px;
    color: #858585;
}
.balance__bills-info {
    font-size: 12px;
    color: #000;
    font-weight: 550;
}
.balance__bills-link {
    display: block;
    font-size: 12px;
    color: #2297d8;
    font-weight: 550;
}
.balance__bills-line  {
    /*display: flex;*/
    margin-bottom: 5px;
    padding: 8px 15px;
    justify-content: space-between;
}
.balance__bills-summa--comming,
.balance__bills-summa--total,
.balance__bills-summa--expenses {
    font-size: 12px;
    font-weight: bold;
    color: #00b050;
}
.balance__bills-summa--total {
    color: #000;
}
.balance__bills-summa--expenses {
    color: #dc2525;
}
.bills-line__right {
    float: right;
    min-width: 140px;
    display: flex;
    justify-content: flex-end;
}
.balance__bills-block {
    display: inline-block;
}
.balance__bills-block:not(:last-child) {
    margin-right: 25px;
}
.balance__bills-line--coming {
    background: #8fffc2;
}
.balance__bills-line--expenses {
    background: #fbe7d9;
}
.balance__bills-bottom {
    margin-top: 15px;
}
.balance__bill-more {
    height: 40px;
    width: 135px;
}
#exchange-tab {
    pointer-events:none;
    cursor: default;
}
.balance__total--mod {
    display: none;
}
.body_homepage .message__block {
    display: none;
}



@media(max-width: 1366px) {
   /* .profile .main_main {
        padding: 15px 20px 30px 35px;
    }*/
    .profile__messengers,
    .profile__header-inputs {
        margin-right: 30px;
    }
}
@media (min-width: 992px) {
    .blog-page .container {
        width: 940px;
    }
}
@media (min-width: 1200px) {
    .blog-page .container {
        width: 1120px;
    }
}
@media (min-width: 1297px) {
    .blog-page .container {
        width: 1280px;
    }
}

@media (min-width: 1297px) and (max-width: 1360px) {
    .blog-page .container {
        padding: 30px;
    }
}

@media(max-width: 1024px) {
    .profile__body {
        flex-flow: column;
    }
    .profile__header {
        flex-flow: column;
        align-items: flex-start;
    }
    .page-name {
        width: 100%;
        flex: 0 0 100%;
        margin: 0 0 15px;
    }
    .profile__images {
        width: 230px;
        padding: 0;
        margin-right: 15px;
    }
    .profile__body-left {
        margin: 0 0 20px;
    }
}

@media (max-width: 991px) {
    .blog-page .container {
        padding: 0 40px;
    }
    .blog-page__blocks {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-flow: column;
            -ms-flex-flow: column;
                flex-flow: column;
    }
    .blog-page__bigcol,
    .blog-page__smallcol {
        max-width: 100%;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
        margin-bottom: 30px;
    }
    .blog-page__bigcol {
        margin-right: 0;
    }
    .article-reviews__block.public .article-reviews__block--right,
    .article-reviews__block.nopublic .article-reviews__block--right {
        margin-right: 0;
    }
    .profile__header-right {
        flex-wrap: wrap;
    }
    .profile__header-inputs {
        width: 100%;
        margin: 0 0 10px;
    }
    .balance__header-inner {
        display: flex;
        align-items: center;
    }
    .balance__bills-filter {
        margin-right: 18px;
    }
    .balance__bills-lines {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
        margin: 0 -5px;
    }
    .balance__bills-line {
        display: flex;
        width: 48%;
        margin: 5px;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    .bills-line__right {
        width: 50%;
        order: 3;
    }
    .balance__bills-block {
        order: 3;
        width: 50%;
        margin-right: 0 !important;
    }
    .balance__bills-block:not(:last-child) {
        margin-bottom: 15px;
    }
    .balance__bills-block--number {
        order: 2;
    }
    .balance__bills-block--data{
        order: 1;
    }
    .balance__bills-block--number,
    .balance__bills-block--data {
        display: flex;
        white-space: nowrap;

    }
    .balance__bills-block--number .balance__bills-title,
    .balance__bills-block--data .balance__bills-title {
        font-size: 10px;
    }
    .balance__bills-block--number .balance__bills-info,
    .balance__bills-block--data .balance__bills-info {
        margin-left: 5px;
        font-size: 10px;
    }
    .balance__bills-block--number {
        justify-content: flex-end;
    }
    .balance__bills-line {
        padding: 8px;
    }
}
/*
@media (max-width: 850px) {
    .blog-header__inner {
        flex-wrap: wrap;
    }
    .blog-header__menu {
        order: 1;
    }
    .blog-header__logo {
        order: 2;
    }
    .header-page__name {
        order: 3;
    }
    .blog-header__search {
        order: 5;
        width: 100%;
    }
    .blog-header__text {
        order: 4;
        margin-left: 20px;
    }
    .search-block {
        margin: 10px 0 0;
        width: 100%;
    }
}
*/

@media(min-width: 640px) {
    .account__info-text {
        display: none;
    }
    .account__dropdown-menu {
        position: inherit;
        display: flex;
        width: auto;
        margin: 0;
    }
    .account__dropdown-item span {
        display: none;
    }
    .account__dropdown-block {
        display: flex;
        align-items: center;
    }
    .account__dropdown-item {
        padding: 4px;
    }
    .account__dropdown-item:before {
        margin: 0;
    }
    .account__dropdown-item:hover,
    .account__dropdown-item.active {
        border-radius: 6px;
        /*background: #318c31;*/
    }
    /*.account__edition-item:hover {
        background: #318c31;
    }*/
    .account-page.move-right .account__edition-dropdown {
        left: 5px !important;
    }
    .profile__menu-btn {
        pointer-events:none;
        cursor: default;
    }
    /*.account__header {
        background: #60e660;
    }
    .account__dropdown-menu, .account__edition-dropdown {
        background: #60e660;
    }*/
}

@media (max-width: 768px) {
    .account__total-desc {
        font-size: 16px;
    }
    .account-page .orange_menu {
        right: 0;
        bottom: -50px;
    }
    .account-page .blue_menu {
        left: 0;
        top: -50px;
    }
    .account-page.move-left {
        margin-top: 40px;
        margin-left: 0;
    }
    .blue_menu.opened {
        top: 0;
    }
    .account-page.move-left .account__header {
        width: 100%;
        top: 40px;
    }
    .account-page.move-right {
        margin-right: 0;
    }
    .account-page.move-right .account__header {
        width: 100%;
    }
    .orange_menu.opened {
        bottom: 0;
    }
    .account-page.move-right.move-left .account__header {
        width: 100%;
    }
    .account-page.move-right.move-left {
        padding-bottom: 70px;
        transition: all .5s;
    }
    .account-page.move-left .account__body-bottom,
    .account-page.move-right .account__body-bottom {
        padding-bottom: 60px;
        transition: all .5s;
    }

    .account__total-right
    {
        white-space: normal;
    }
    .account__total-right {
        width: 70%;

    }
    .account__total {
        flex-flow: column;
    }
    .account__total-left {
        margin-bottom: 15px;
    }
    .blog-page .container {
        padding: 0 15px;
    }
    .blog-header__inner {
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
    }
    .blog-header__menu {
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
            -ms-flex-order: 1;
                order: 1;
    }
    .blog-header__logo {
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
            -ms-flex-order: 2;
                order: 2;
    }
    .header-page__name {
        -webkit-box-ordinal-group: 4;
        -webkit-order: 3;
            -ms-flex-order: 3;
                order: 3;
    }
    .blog-header__search {
        -webkit-box-ordinal-group: 6;
        -webkit-order: 5;
            -ms-flex-order: 5;
                order: 5;
        width: 100%;
    }
    .blog-header__text {
        -webkit-box-ordinal-group: 5;
        -webkit-order: 4;
            -ms-flex-order: 4;
                order: 4;
        margin-left: 20px;
        width: 30%;
    }
    .search-block {
        margin: 10px 0 0;
        width: 100%;
    }
    .blog-last__block {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-flow: column;
            -ms-flex-flow: column;
                flex-flow: column;
    }
    .blog-image {
        width: 100%;
        margin: 0 0 15px;
    }
    /*.profile__bottom {
        padding-bottom: 30px;
    }
    .profile .main_main {
        padding: 15px 10px 70px;
    }*/
    .main__inner {
        padding: 15px 0 100px;
    }
    .balance__bills-filters {
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .bills-search {
        margin-top: 10px;
    }
}

@media(max-width: 650px) {
    .profile__body-left,
    .profile__social-blocks,
    .profile__header-inputs  {
        flex-flow: column;
    }
    .profile__header-inputs {
        align-items: flex-start;
        margin: 0;
    }
    .profile__header-inputs .profile__input-block {
        width: 100%;
        margin: 0 0 10px;
    }
    .profile__images {
        width: 100%;
        margin: 0 0 15px;
    }
    .profile__social-block {
        width: 100%;
    }
    .profile__body-left,
    .profile__body-right {
        width: 100%;
    }

    .balance__total--pc {
        display: none;
    }
    .balance__total--mod {
        display: block;
        text-align: left;
        float: none;
        margin-top: 10px;
    }
    .balance__header-inner .page-name {
        float: none;
        margin-right: 0;
    }
    .balance__header-left {
        margin-right: 15px;
    }
    .balance__header-inner {
        align-items: baseline;
    }
    .balance__currency-link {
        font-size: 13px;
    }
    .balance__currency-link:not(:last-child) {
        margin-right: 10px;
        margin-bottom: 5px;
    }
    .balance__currency {
        display: flex;
        flex-wrap: wrap;
    }
    .balance__header {
        padding-top: 0;
    }
    .balance__action-form {
        flex-flow: column;
        align-items: flex-start;
    }
    .action-form__block {
        width: 100%;
        margin: 0 0 5px;
    }
    .action-form__block:last-child {
        padding-bottom: 0;
    }
    .balance__actions {
        margin-bottom: 5px;
    }
    .balance__bills-lines {
        margin: 0;
    }
    .balance__bills-line {
        width: 100%;
        margin: 5px 0;
    }
}

@media(max-width: 640px) {
    .before-remove__info {
        right: 0;
    }
    .before-remove__info-inner:before {
        right: 30px;
        left: auto;
    }
    .before-remove__info-inner:after {
        right: 29px;
        left: auto;
    }
    
    .ppls2
    {
        display: inline-flex;
    }
    .profile__menu-btn
    {
        /*margin-bottom: 10px;*/
    }

}
@media(max-width: 600px) {
    .account-page.move-left .account__header {
        top: 50px;
    }
}
@media(max-width: 575px) {
    .account__total-left {
        flex-flow: column;
    }
    .account__total-left .profile__images {
        margin: 0 auto 5px;
    }
    .account__total-right,
    .account__total-lines {
        width: 100%;
    }
    .account__total-lines {
        margin: 0;
    }
    .account__body-bottom {
        padding: 0;
    }
    .profile__user-block--inputs {
        flex-flow: column;
    }
    .profile__user-block--meddium {
        margin: 0 0 10px;
    }
    .profile__bottom {
        padding-bottom: 50px;
    }
    .types-blog__dropdown .blog-menu.dropdown-menu {
        right: 0;
        left: auto;
    }
    .article-reviews__block--right {
        flex-wrap: wrap;
        /*align-items: baseline;*/
    }
    .article-reviews__action {
        width: 100%;
        text-align: right;
    }
    .article-reviews__action span {
        display: inline-block;
    }
    .article-reviews__edit {
        margin: 0 15px 0 0;
    }
    .article-reviews__content {
        width: auto;
    }
    .article-reviews__block.nopublic .article-reviews__block--right {
        width: 100%;
    }
    .leave-comment__textarea {
        width: 100%;
    }
    .public-post__bottom,
    .editors-post__profile {
        flex-wrap: wrap;
    }
    .new-public__selectors .selector-block {
        display: block;
    }
    .selector-block + .selector-block {
        margin: 15px 0 0; 
    }
    .highlight__selector,
    .choose-rubrika__selector,
    .editors-post__profile-btn {
        width: 100%;
    }
    .new-public__buttons button {
        width: 100%;
        margin: 0 0 15px;
    }
    .editors-post__profile-input {
        max-width: 100%;
        margin: 0 0 15px;
    }
    .profile__preview-btn, .profile__save-btn {
        padding: 5px 6px;
        font-size: 13px;
    }
    .bills-search {
        max-width: 100%;
    }
}

@media (max-width: 460px) {
    .header-page__name {
        margin-top: -40px;
    }
    .blog-header__text {
        width: 63%;
        margin-left: 110px;
        margin-top: -35px;
    }
    .article-page .header-page__name {
        margin-top: 0;
    }
    .profile__messengers {
        margin: 0 35px 10px 0;
    }
}

.account-page.move-right .dropdown_right  .account__edition-dropdown {
    left: inherit!important;
}