html,
body {
    height: 100%;
}

.form-control.inverse-mode {
    background: #fff !important;
    color: #8f8f8f !important;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media (max-width: 767px) {
    .nav li > form > button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.mb-10 {
    margin-bottom: 10px;
}

.tr-header td {
    border: none !important;
    background-color: #ededed !important;
}

/* --------------------- */
/* ----- Custom style -- */
/* --------------------- */

body #sidebar {
    background: #5f9abb;
}

body .sidebar-header {
    background: #4f84a7;
}

body #sidebar .nav li a {
    color: #fff;
}

body #sidebar .sidebar-header a {
    color: #efe35b;
    font-size: 10px;
    margin-top: 3px;
    margin-right: 1px;
}

body .page-container .content {
    margin-left: 204px;
}

body #header {
    background: #717171;
    color: #fff;
}

body #header a {
    color: #fff;
}

body #header .dropdown.navbar-user a {
    color: #000;
}

.header-menu {
    display: inline-block;
    width: 65%;
    margin-top: 12px;
}

.header-menu li {
    display: inline-block;
    margin-right: 15px;
}

body .theme-header {

}

/* Customize the label (the container) */
.checkcontainer {
    display: inline-block;
    position: relative;
    padding: 3px 5px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 2px solid #cecece;
    border-radius: 100px;
    font-weight: normal;
}

.checkcontainer-checked {
    background: #5f9abb;
    color: #fff;
}

/* Hide the browser's default checkbox */
.checkcontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkcontainer:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkcontainer input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkcontainer input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkcontainer .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Hide the browser's default radio button */
.checkcontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.checkcontainer:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.checkcontainer input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.checkcontainer input:checked ~ .checkmark:after {
    display: block;
}

.radiobtn {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* Style the indicator (dot/circle) */
.checkcontainer .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.checkcontainer:hover input ~ .radiobtn {
    background-color: #ccc;
}

.checkcontainer input:checked ~ .radiobtn {
    background-color: #2196F3;
}

.field-usersearch-sorting .control-label {
    float: left;
    margin-top: 5px;
    margin-right: 8px;
}

.users-filter-list {
    padding: 0;
    list-style-position: inside;
}

.users-filter-list li {
    font-size: 16px;
    color: #f59c1a;
    padding: 7px 10px;
    border-bottom: 1px solid #cecece;
}

.users-filter-list li a {
    color: #fff;
}

.refer-header {
    color: #fff;
    padding-left: 10px;
}

.theme-panel {
    width: 20% !important;
}

.nav.navbar-nav.navbar-right {
    width: 20.4% !important;
    margin-top: 0px;
}

.img-content {
    width: 50%;
    height: 140px;
    object-fit: cover;
    display: inline-block;
}

.card-content {
    float: right;
    width: 48%;
}

.dropdown.navbar-user .dropdown-menu {
    white-space: nowrap;
    background: #f0da58;
    margin-top: -6px;
    right: auto !important;
    left: 0 !important;
}

.dropdown.navbar-user .dropdown-menu li {
    display: inline-block;
}

.dropdown.navbar-user .dropdown-menu li a:hover {
    background: #d4bf48;
}

.navbar-nav > li > .dropdown-menu {
    border-top: 1px solid #d4bf48 !important;
}

.chat-main {
    display: flex;
    width: 100%;
    height: 93%;
}

.chat-center {
    position: relative;
}

.chat-main .chat-left,
.chat-main .chat-center,
.chat-main .chat-right {
    /*height: 80vh;*/
    float: left;
}

.chat-main .list-item img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: left;
    margin: 1rem 1rem 1rem 0;
}

.chat-main .list-item.item-danger {
    background: #ff5b57;
}

.chat-main .list-item a:hover {
    background: #4d7992;
}



.chat-main .chat-right {
    width: 23%;
    display: none;
}

.chat-right {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
}

.chat-main .chat-center {
    background: #82e782;
    width: inherit;
    height: 100%;
}

.chat-main .chat-center .chat-center-messages {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    padding-bottom: 5rem;
}

.chat-main .chat-center .form {
    height: 10%;
}

.chat-main .chat-center form {
    height: 100%;
}

/*.chat-main .chat-center input {*/
    /*width: 100%;*/
    /*display: inline-block;*/
    /*background: #dcdb92;*/
    /*border: none;*/
    /*box-shadow: inset 0 0 5px;*/
    /*height: inherit;*/
    /*padding: 0 0 0 8rem;*/
    /*color: #4d7992;*/
/*}*/

.chat-main .chat-form {
    position: absolute !important;
    bottom: 0;
    width: 100%;
}

.chat-main .chat-center .chat-form {
    position: relative;
    height: 4rem;
}

.chat-main .chat-center .form button {
    float: left;
    width: 10%;
    height: 100%;
    display: inline-block;
}

.chat-main .chat-left,
.chat-main .chat-right {
    overflow-y: scroll;
    overflow-x: hidden;
    background: #5f9abb;
}

.chat-main .chat-left p {
    font-size: 14px;
}

.chat-main .chat-left ul {
    padding: 0;
    list-style-type: none;
}

.chat-main .chat-left li {
    border-bottom: 1px solid #fff;
}

.chat-main .chat-left li a {
    color: #fff;
    width: 100%;
    padding: 0 7px;
    display: flex;
    justify-content: space-between;
    height: 6rem;
}

.chat-main .chat-left li a:focus {
    text-decoration: none;
    background: #4d7992;
}

.chat-main .chat-left li a:hover {
    padding: 0 7px;
    text-decoration: none;
}

.chat-main .chat-left .list-item.active {
    background: #515a61;
    text-decoration: none;
}

.chat-main .chat-left h4 {
    color: #efe35b;
    /*font-weight: bold;*/
    font-size: 14px;
    margin-bottom: 2px;
    width: 70%;
    display: inline-block;
    /*white-space: nowrap;*/
}

.chat-main .chat-left span {
    width: 10%;
    text-align: right;
    display: inline-block;
}

.chat-main .chat-message {
    /*max-width: 70%;*/
    padding: 15px 10px;
    display: flex;
    align-items: center;
}

.chat-main .chat-message img {
    width: 70px;
    height: auto;
    border-radius: 50%;
    margin: 1rem;
}

.chat-main .chat-message .message {
    display: flex;
    padding: 7px 12px;
    font-size: 14px;
    border-radius: 5px;
    width: fit-content;
    /*max-width: 88%;*/
    box-shadow: 0.2em 0.2em 5px rgba(122, 122, 122, 0.5);
}

.chat-main .chat-message .message p {
    margin: 0;
}

.chat-main .chat-message.chat-message-me {
    color: white;
    flex-direction: row-reverse;
}

.chat-main .chat-message.chat-message-client {
    text-align: left;
}

.chat-main .chat-message.chat-message-me .message {
    background: #7aaebf;
}

.chat-main .chat-message.chat-message-me span {
    display: block;
    margin-right: 9px;
    margin-top: 3px;
    font-size: 13px;
}

.chat-main .chat-message.chat-message-client span {
    display: block;
    margin-left: 9px;
    margin-top: 3px;
    font-size: 13px;
}

.chat-main .chat-message.chat-message-client .message {
    background: #f1faf1;
    color: #4d7992;
}

.chat-main .chat-message.chat-message-client .message a {
    color: #4d7992;
}

.chat-center-messages * {
    overflow-anchor: none;
}

.anchor {
    overflow-anchor: auto;
    height: 1px;
}

.chat-main .chat-right {
    padding: 10px 10px;
    text-align: center;
    background-color: #d9de9b;
    width: 40rem;
}



.chat-right img {
    width: 4rem;
}

.chat-right h3 {
    display: inline-block;
    color: #fff;
    font-size: 16px;
}

.chat-right .from-info {
    font-size: 25px;
}

.chat-right .info {
    text-align: left;
    width: 100%;
    color: #fff;
    font-size: 14px;
}

.chat-right .img-wrapper {
    position: relative;
}

.chat-right .img-wrapper .btn {
    position: absolute;
    border-radius: 100%;
    top: 30%;
}

.chat-right .img-wrapper .btn.btn-left {
    position: absolute;
    left: 15%;
}

.chat-right .img-wrapper .btn.btn-right {
    position: absolute;
    right: 15%;
}

.chat-right .info p {
    width: 100%;
}

.chat-right .info p span {
    text-align: right;
}

.grid-view .kv-grid-container {
    overflow-x: hidden;
}

.sidebar {
    transition: .25s all ease;
}

.navbar-nav .dropdown-menu {
    right: 0 !important;
    left: auto !important;
}

@media screen and (max-width: 800px) {
    .grid-view .kv-grid-container {
        overflow-x: scroll;
    }
}

@media screen and (max-width: 1000px) {
    .chat-main .list-item h4 {
        display: none;
    }

    .chat-main .list-item p {
        display: none;
    }
}

@media screen and (max-width: 1700px) {
    .theme-panel {
        width: 15% !important;
    }

    .nav.navbar-nav.navbar-right {
        width: 15.4% !important;
    }
}

@media screen and (max-width: 1550px) {
    .mdsm-hidden {
        display: none !important;
    }
}

@media screen and (max-width: 1390px) {
    .nav .navbar-nav .navbar-right {
        margin-top: -39px !important;
    }
}

@media screen and (max-width: 1300px) {
    .img-content {
        width: 100%;
    }

    .card-content {
        width: 100%;
    }
}

@media screen and (max-width: 1100px) {
    .theme-panel {
        display: none;
    }

    .nav.navbar-nav.navbar-right {
        display: none;
    }
}

/* Chat */

.chat-main button:active, button:focus {
    outline: none;
}

.chat-left {
    display: flex;
    flex-direction: column;
}

.chat-search {
    margin: 1rem;
}

.search-recipient {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #afcddd;
    background-color: #afcddd;
    padding: 0.5rem 1rem;
}

.list-item-first-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.list-item-first {
    position: relative;
    width: inherit;
}

.list-item-second {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.unread-msg {
    border: 1px solid white;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: flex;
    background-color: #c00000;
    justify-content: center;
    align-items: center;
}

.partner-status {
    border: 1px solid;
    display: block;
    position: absolute;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    top: 1rem;
}

.yellow-status {
    background-color: #ffc000;
}

.green-status {
    background-color: #09bf68;
}
.red-status {
    background-color: #c00000;
}

.message-time {
    margin-left: 1rem;
}

.chat-message-client .message-time {
    color: #c5c5c5;
}

.chat-message-me .message-time {
    color: white;
}

.chat-btn {
    position: absolute;
    border: none;
    background-color: transparent;
    height: inherit;
    margin-left: 1rem;
    font-size: 2rem;
}

#chat-send-btn {
    right: 1%;
    top: 0;
}

#chat-smile-btn {
    left: 3rem;
}

#chat-text {
    width: 100%;
    display: inline-block;
    background: #dcdb92;
    border: none;
    box-shadow: inset 0 0 5px;
    height: inherit;
    padding: 1rem 0 0 8rem;
    color: #4d7992;
    outline: none;
}

#chat-text img {
    width: 2rem;
}

.smile {
    cursor: pointer;
}

.chat-main .chat-center .message img {
    width: 4rem;
}

.chat-list .active-partner {
    background-color: #23527c;
}

.chat-main .chat-message .message-image-wrapper img {
    width: 8rem;
    height: 8rem;
}

.chat-message .message a {
    color: #fff;
}

.chat-main .chat-center .message a img {
    width: 16px;
    height: auto;
    border-radius: 0;
}

.small-panel {
    margin-bottom: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid #cecece;
}

.small-panel .panel-content {
    padding-left: 10px;
}

.small-panel a{
    font-weight: bold;
    font-size: 17px;
}

.small-panel .panel-small-text {
    margin: 0;
    font-size: 11px;
}


.dropdown-menu.left-header {
    background: #4f84a7;
}

.dropdown-menu.left-header a {
    display: block;
    margin-left: 5px;
    font-size: 14px !important;
    width: 203px;
    margin-top: 5px;
}

.dropdown-menu.left-header.left-header-gray {
    background: #717171;
}

.image-country {
    width: 15px;
    height: 15px;
    object-fit: cover;
    border-radius: 100%;
}

.left-header-margin {
    position: absolute !important;
    left: 204px !important;
    top: -3px !important;
}

.header-menu a.active {
    color: #33e897 !important;
}