* {
  font-family: 'Open Sans', sans-serif!important; }

.btn-warning {
  background-color: #01b051!important;
  color: white!important;
  border: 1px solid #ffffff!important; 
}
/*.btn{
  font-size: 5px!important;
  font-weight: 700!important;
}*/

h3 {
  font-size: 12px!important;
  font-weight: 700!important;
  color: #4f84a7!important; }

p {
  font-size: 10px!important; }

.bold {
  font-size: 12px!important;
  font-weight: 600!important; }

a {
  color: #4f84a7; }
/*
a:hover {
  color: black!important;
  font-weight: 600!important; }

a:active {
  color: black!important;
  font-weight: 600!important; }
*/
body {
  /*background-color: #c9ebc9!important;*/ 
  overflow: hidden;
}
body,
html {
    height: 100%;
}
.col-xl-1{
  -ms-flex: 0 0 8.3333%!important;
    flex: 0 0 8.3333%!important;
    max-width: 8.3333%!important;
}
.shop{
  display: flex;
  align-items: stretch;
}
.shop>.row{
  align-items: stretch;
}

.shop>.row .block{
  height: 100%;
}

.shop>.row .block img{
  width: 100%;
  border-radius: 100%;
  height: 100%;
}

#profile-card .profile-block img {
  width: 100%;
  border-radius: 100%;
  height: 100%;
}

.profile-card {
  position: fixed;
  z-index: 100;
  margin-top: 10px;
}

@media (min-width: 100px) and (max-width: 599px) {
  .owl-carousel .owl-item img{
    width: initial!important;
  }
  .menu_img {
    height: 30px!important;
    width: 30px!important;
    margin-top: 2px!important;
    margin-bottom: 2px!important;
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;}
    .menu_img img {      
      width: 28px!important;
      }
  .blue_menu {
    position: fixed!important;
    min-height: 4%!important;
    max-height: 16%!important;
    width: 100%!important;
    overflow: hidden!important;
    top: 0; 
  }
  .blue_menu_inner {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-pack: distribute!important;
    justify-content: space-around!important;
    margin-left: 10px!important;
    margin-top: 6px!important;
    min-height: auto!important; }
  .orange_menu {
    position: fixed!important;
    min-height: 4%!important;
    max-height: 16%!important;
    width: 100%!important;
    overflow: hidden!important;
    bottom: 0; }
  .orange_menu_inner {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-pack: distribute!important;
    justify-content: space-around!important;
    margin-left: 10px!important;
    margin-top: 6px!important; }
  .menu_btn {
    width: 100%!important; }
    .menu_btn .row {
      display: -webkit-box!important;
      display: -ms-flexbox!important;
      display: flex!important;
      -webkit-box-orient: vertical!important;
      -webkit-box-direction: normal!important;
      -ms-flex-direction: column!important;
      flex-direction: column!important;
      -webkit-box-align: center!important;
      -ms-flex-align: center!important;
      align-items: center!important; }
      .menu_btn .row a.btn-warning {
        width: 70%!important; }
      .menu_btn .row a {
        font-size: 10px!important; }
    .menu_btn .header {
      display: -webkit-box!important;
      display: -ms-flexbox!important;
      display: flex!important;
      -webkit-box-orient: vertical!important;
      -webkit-box-direction: normal!important;
      -ms-flex-direction: column!important;
      flex-direction: column!important;
      -webkit-box-align: center!important;
      -ms-flex-align: center!important;
      align-items: center!important; }
  .menu {
    margin-top: 12px!important;
    width: 100%!important;
    margin-left: 5%!important; }
    .menu a {
      margin-left: 10px!important;
      width: 30%!important; } }

@media (min-width: 600px) and (max-width: 769px) {
 
  .owl-carousel .owl-item img{
    width: initial!important;
  }
  .blue_menu {
    position: fixed!important;
    min-height: 3%!important;
    max-height: 20%!important;
    width: 100%!important;
    overflow: hidden!important;
    top: 0; }
  .blue_menu_inner {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-pack: distribute!important;
    justify-content: space-between!important;
     }
  .orange_menu {
    position: fixed!important;
    min-height: 3%!important;
    width: 100%!important;
    overflow: hidden!important;
    bottom: 0; 
 }
  .orange_menu_inner {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-pack: distribute!important;
    justify-content: space-around!important;
    margin-left: -3px!important;
    }
  .menu_img {
    margin-bottom: 5px!important;
    height: 32px!important;
    width: 32px!important; 
   display: flex!important;
    align-items: center!important;
    justify-content: center!important;}
    .menu_img img {
      }
  .main {
    /* margin-top: 3%!important; */
   }
  .menu_btn {
    margin-left: 3%!important;
    width: 30%!important; }
    .menu_btn .row {
      display: -webkit-box!important;
      display: -ms-flexbox!important;
      display: flex!important;
      -webkit-box-orient: horizontal!important;
      -webkit-box-direction: normal!important;
      -ms-flex-direction: row!important;
      flex-direction: row!important;
      -webkit-box-align: center!important;
      -ms-flex-align: center!important;
      align-items: center!important;
      -ms-flex-pack: distribute!important;
      justify-content: space-around!important; }
      .menu_btn .row a.btn-warning {
        width: 70%!important; }
      .menu_btn .row a {
        font-size: 10px!important; }
  .menu {
    margin-top: 12px!important;
    width: 50%!important;
    margin-left: 5%!important; }
    .menu a {
      margin-left: 10px!important; } 
  .header{
    margin-top: 2%!important;
  }
  
    }

@media (min-width: 769px) {
 
  .owl-carousel .owl-item img{
    width: initial!important;
  }
  .main {
    /*width: 92%!important;*/
    height: 100%!important;
    margin: 0 auto!important;
    top: 0!important; }
  .blue_menu {
    position: absolute!important;
    top: 0!important;
    height: 100vh!important;
    /*width: 2%!important;*/ 
 }
  .blue_menu_inner {
    display: block !important;
    margin-top: 6px!important; }
  .orange_menu {
    position: absolute!important;
    height: 100vh!important;
    /*width: 2%!important;*/
    right: 0;
    top: 0!important; }
  .orange_menu_inner {
    display: block!important;
  }
  .menu_img {
    
    height: 30px!important;
    width: 30px!important;
    margin: 5px auto;
    display: flex!important;
    align-items: center!important;
    justify-content: center!important; 
    margin-bottom: 0;
 }
    .menu_img img {
     
    }
  .menu_btn {
    margin-left: 1%!important; }
    .menu_btn .row {
      display: -webkit-box!important;
      display: -ms-flexbox!important;
      display: flex!important;
      -webkit-box-orient: vertical!important;
      -webkit-box-direction: normal!important;
      -ms-flex-direction: column!important;
      flex-direction: column!important;
      -webkit-box-align: center!important;
      -ms-flex-align: center!important;
      align-items: center!important; }
      .menu_btn .row button {
        width: 100%!important; }
      .menu_btn .row a {
        font-size: 10px!important; }
  .menu {
    margin-top: 8px!important;
    margin-left: 1.5%!important; }
    .menu a {
      margin-left: 10px!important; } }

.main {
  /*padding: 30px 0!important;*/
  /*background-color: #c9ebc9;*/ 
}
.color_bg {
    background-color: #c9ebc9; 
}
.header {
  margin-bottom: 20px!important; }

.menu_btn .row a.btn-warning {
  font-size: 11px!important; }

.menu_btn .row a {
  font-size: 10px!important; }

.menu a {
  font-size: 12px!important;
  font-weight: 700!important;
}

.element {
  padding: 1px!important; }

.block {
  background-color: #dff3df!important;
  padding: 10px!important;
  min-height: 200px!important;
  min-width: 98px!important;
  border: 1px solid #9fcbc3!important;
  -webkit-box-align: center!important;
  -ms-flex-align: center!important;
  align-items: center!important;
  cursor: pointer!important;
}

.profile-block {
  background-color: #dff3df!important;
  padding: 10px!important;
  min-width: 98px!important;
  border: 1px solid #9fcbc3!important;
  -webkit-box-align: center!important;
  -ms-flex-align: center!important;
  align-items: center!important;
  cursor: pointer!important;
}

.block:hover {
  border: 1px solid #9fcbc3!important;
  background-color: #bae3ba!important;
  transition: all .1s linear!important;
}

.block_img {
  margin: auto!important;
  height: 80px!important;
  width: 80px!important;
  border-radius: 50%!important;
  background-color: white!important;
  margin-bottom: 5px!important; }

.block-content {
  text-align: center!important;
  margin: auto!important; }
  .block-content p {
    text-align: center!important; }

.blue_menu {
  background-color: #5f9abb; 
   z-index: 9;
}

.orange_menu {
  background-color: #efcb5b; 
  z-index: 9;
}

.menu_img {
  border-radius: 50%!important;
  transition: all 0.5s ease 0s;
  /*box-shadow: 0 0 5px!important;*/
  background-color: #fff!important;  
  cursor: pointer!important; 
  transition: all 0.5s ease 0s;
    -webkit-box-shadow: 2px 1px 4px 0px rgba(0,0,0,0.65);
    -moz-box-shadow: 2px 1px 4px 0px rgba(0,0,0,0.65);
    box-shadow: 2px 1px 4px 0px rgba(0,0,0,0.65);
}

.menu_img_hreff{
  box-shadow: 0 0 5px!important;
  width: 32px!important;
      margin: 0 auto!important;
    border-radius: 50%!important;
}
.menu_und{
 
}
.menu_img_hreff:hover{
  box-shadow: none!important;
}
.slick-arrow {
  position: absolute!important;
  top: 0!important;
  z-index: 2!important;
  font-size: 0!important;
  width: 30px!important;
  height: 30px!important;
  background-color: rgba(95, 154, 187, 0.5)!important; }

.slick-arrow.slick-prev {
  left: 0!important;
  background: url("img/left-arrow.png") 0 0/100% no-repeat!important; }

.slick-arrow.slick-next {
  right: 0!important;
  background: url("img/right-arrow.png") 0 0/100% no-repeat!important; }

@media (min-width: 769px){
  .owl-item{
  width: 40px!important;
}
.owl-stage{
  width: 100%!important;
  padding-bottom: 40px;
}
.owl-nav{
  display: none!important;
}
}
@media (max-width: 769px){
  .owl-nav{
  display: block!important;
}
.menu_und{
  margin-bottom: 0px!important;
}
.menu_carousel{
 margin:  0!important;
}
}
.owl-theme .owl-nav{

}
.owl-theme .owl-nav .owl-prev{
    position: absolute!important;
    left: -30px!important;
    top: 0px!important;
      font-size: 24px!important;
  font-weight: 700!important;
  background-color: transparent!important;
  padding: 0!important;
  margin: 0!important;
}
.owl-theme .owl-nav .owl-next{
    position: absolute!important;
    right: -16px!important;
    top: 0px!important;
      font-size: 24px!important;
  font-weight: 700!important;
  padding: 0!important;
  margin: 0!important;
  background-color: transparent!important;
}
.owl-theme .owl-nav{
  margin-top: 0!important;
}
.owl-theme .owl-nav [class*='owl-']:hover{
  background-color: transparent!important;
}
@media (max-width: 922px){
  .owl-theme .owl-nav .owl-prev{
    left: -24px!important;
    top: 0px!important;
     
}
.owl-theme .owl-nav .owl-next{   
    right: -14px!important;
    top: 0px!important;      
}
}
@media (max-width: 578px){
  .owl-theme .owl-nav .owl-prev{
    left: -20px!important;
    top: 0px!important;
     
}
.owl-theme .owl-nav .owl-next{   
    right: -10px!important;
    top: 0px!important;      
}
}
@media (max-width: 430px){
  .owl-theme .owl-nav .owl-prev{
    left: -16px!important;
    top: 0px!important;
     
}
.owl-theme .owl-nav .owl-next{   
    right: -7px!important;
    top: 0px!important;      
}
}
.Refs_target{
  color: #333!important;
}
.menu_btn a{
  margin-top: 10px!important;
}

@media (min-width: 769px){
.blue_menu {
  width: 40px; }
  .orange_menu {
    
    width: 40px;
    }
}

@media (max-width: 1803px){
.col-xl-1{
  -ms-flex: 0 0 10%!important;
    flex: 0 0 10%!important;
    max-width: 10%!important;
}
.row{
  width: 100%!important;
  margin: 0 auto!important;
}
}
@media (max-width: 1497px){
.col-xl-1{
  -ms-flex: 0 0 12.5%!important;
    flex: 0 0 12.5%!important;
    max-width: 12.5%!important;
}
}
@media (max-width: 1366px){
.element{
  padding: 4px!important;
}
.block {
  padding-bottom: 0px!important;
}
/*
.main_main{
  width: 93%!important;
}*/
.block:hover{
  
}

}
@media (max-width: 769px){

.main{
  width: 99%!important;
  margin: 0 auto!important;
}
}
@media (max-width: 1186px){
.col-xl-1{
  -ms-flex: 0 0 14.2857%!important;
    flex: 0 0 14.2857%!important;
    max-width: 14.2857%!important;
}
}
@media (max-width: 1024px){
.header .menu_btn .row{
  margin-top: 13px!important;
    display: flex!important;
    text-align: center!important;
}
.element {
    padding: 2px!important;
}
.menu_btn .row a.btn-warning{
  width: initial!important;
}
.menu_btn a{
  margin-top: 0!important;
}
}
/*
@media (max-width: 1100px){
.main_main {
  width: 94%!important;
  padding: 30px 35px;
}
}*/
@media (max-width: 860px){
.main{
  /*width: 90%!important;*/
}
}
@media (max-width: 794px){
.main{
  /*width: 89%!important;*/
}
}
@media (max-width: 768px){
.main{
  width: 100%!important;
}
}
@media (max-width: 1009px){
.col-xl-1{
  -ms-flex: 0 0 20%!important;
    flex: 0 0 20%!important;
    max-width: 20%!important;
}
}
@media (max-width: 721px){
.col-xl-1{
  -ms-flex: 0 0 25%!important;
    flex: 0 0 25%!important;
    max-width: 25%!important;
}
}
@media (max-width: 577px){
.col-xl-1{
  -ms-flex: 0 0 33.3333333%!important;
    flex: 0 0 33.3333333%!important;
    max-width: 33.3333333%!important;
}
}
@media (max-width: 433px){
.col-xl-1{
  -ms-flex: 0 0 49%!important;
    flex: 0 0 49%!important;
    max-width: 49%!important;
}
}

@media (min-width: 769px){

.active_img{
    background-color: #c9ebc9!important;
    box-shadow: none!important;
    position: relative!important;
}

.active_img img{
  z-index: 100!important;
}
.active_img::after{
  content: " "!important;
  position: absolute!important;
  width: 60%!important;
  height: 100%!important;
  background-color: #c9ebc9!important;
  left: -6px!important;
  bottom: 0!important;
}
}
.menu_img:hover {
    transition: all 0.5s ease 0s;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.owl-item a:hover{
  box-shadow: none!important;
}
@media (max-width: 769px){
  .menu_img {
    margin-top: 3px!important;
  }
.owl-carousel .owl-item{

}
.active_img {
    background-color: #c9ebc9!important;
    box-shadow: none!important;
    position: relative!important;
   
}
.active_img  img{
   z-index: 100!important;
}
.active_img::after{
    content: " "!important;
    position: absolute!important;
    width: 100%!important;
    height: 60%!important;
    background-color: #c9ebc9!important;
    left: 0!important;
    top: -6px!important;
}
}
@media (max-width: 750px){
  .menu_und{
    width:  92%!important;
    margin:  0 auto!important;
  }
  .owl-theme .owl-nav .owl-next{
    right: -17px!important;
  }
  .owl-theme .owl-nav .owl-prev{
    left: -17px!important;
  }
}
@media (max-width: 599px){
 .menu_img{
  margin: 6px auto!important;  
  width:  38px!important;
  height: 38px!important; 
 }
 .header .menu_btn .row {
    margin-top: 28px!important;
    
  }
  .owl-theme .owl-nav .owl-prev{
        top: 16%!important;
        
    left: -3.5%!important;
}
 .owl-theme .owl-nav .owl-next{
        top: 16%!important;
    right: -3.5%!important;

  }
}
@media (min-width: 769px){
  .orange_menu .menu_und .menu_carousel{
    position: fixed;
    overflow: auto;
    height: 100vh;
  }
  
  .blue_menu .menu_und .menu_carousel{
    position: fixed;
     overflow: auto;
    height: 100vh;
  }
  .orange_menu .menu_und .menu_carousel::-webkit-scrollbar { width: 0; }

/* ie 10+ */
.orange_menu .menu_und .menu_carousel{ -ms-overflow-style: none; }

/* фф (свойство больше не работает, других способов тоже нет)*/
.orange_menu .menu_und .menu_carousel{ 
    overflow-y: -moz-hidden-unscrollable;
}

  /* хром, сафари */
.blue_menu .menu_und .menu_carousel::-webkit-scrollbar { width: 0; }

/* ie 10+ */
.blue_menu .menu_und .menu_carousel { -ms-overflow-style: none; }

/* фф (свойство больше не работает, других способов тоже нет)*/
.blue_menu .menu_und .menu_carousel { 
    overflow-y: -moz-hidden-unscrollable;
}

}



.green_menu{
  background-color: #01b051!important;
}
.element a{
  text-decoration: none!important;
}
.element a:hover{
  text-decoration: none!important;
}
.main_main{

}
.main_frame{
  padding-top: 0!important;
  position: relative;
  width: 95.8%!important;
   overflow: auto!important;
    overflow-x: hidden!important;
    overflow-y: auto!important;
margin: 0 auto;
  height: 100vh!important;
}
body.area ::-webkit-scrollbar { width: 0!important; }
 
/* ie 10+ */
body.area { -ms-overflow-style: none!important; }

/* фф (свойство больше не работает, других способов тоже нет)*/
body.area { overflow: -moz-scrollbars-none!important; }

.active_img_right::after{
  right: -6px!important;
  left: initial!important;
}
.main__inner {
    padding: 15px 0 30px;
}
.main_main{
  overflow: auto!important;
    overflow-x: hidden!important;
    overflow-y: auto!important;
    width: calc(100% - 80px);
    height: 100%;
    /*height: 100vh!important;*/
    margin: 0 auto;
    padding: 0 10px;
}
/*
.main_main .shop, .main_main .row{
    padding: 0 17px;
}*/
@media (max-width: 768px){
  .main_frame{
    width: 100%!important;
    height: 100vh!important;
  }
  .main_main{
    width: 100%!important;
}
  .main{
    margin-top: 40px!important;
    height: 100vh!important;
  }
}
@media (max-width: 599px){
   .main{
    margin-top: 50px!important;
    height: 100vh!important;
  }
}
@media (max-height: 740px) and (min-width: 769px){
  .blue_menu .menu_und{
  position: relative;
}
.blue_menu .menu_und a{
  width: 40px;
}
  .blue_menu .menu_und a .arrow_top{
    position: fixed;
    width: 40px;
    height: 20px;
    background-color: #aaa;
    z-index: 10000;
    top: 0; 
  }
  .blue_menu .menu_und{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  .blue_menu .menu_und .blue_menu_inner{
    margin-top: 0;
  }
  .blue_menu .menu_und a .arrow_bottom{
    position: fixed;
    width: 40px;
    height: 20px;
    background-color: #aaa;
    z-index: 10000;
    bottom: -2px; 
    left: 0;
  }
  .blue_menu .owl-stage .owl-item:nth-child(1) .menu_img{
    margin-top: 3px;
  }
  .blue_menu .owl-stage .owl-item:last-child .menu_img{
    margin-bottom: 3px;
  }
  .blue_menu .menu_und a .arrow_bottom, .blue_menu .menu_und a .arrow_top{
    
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .blue_menu .menu_und a .arrow_bottom::after{
    content: " ";
    width: 9px;
    height: 2px;
    transform: rotate(-45deg);
    background-color: #fff;
    margin-left: -2px;
  }
  .blue_menu .menu_und a .arrow_bottom::before{
    content: " ";
    width: 9px;
    height: 2px;
    transform: rotate(45deg);
    background-color: #fff;
    margin-right: -2px;
  }
  .blue_menu .menu_und a .arrow_top::after{
    content: " ";
    width: 9px;
    height: 2px;
    transform: rotate(45deg);
    background-color: #fff;
    margin-left: -2px;
  }
  .blue_menu .menu_und a .arrow_top::before{
    content: " ";
    width: 9px;
    height: 2px;
    transform: rotate(-45deg);
    background-color: #fff;
    margin-right: -2px;
  }

}
@media (max-height: 634px) and (min-width: 769px){
  .orange_menu .menu_und{
  position: relative;
}
.orange_menu .menu_und a{
  width: 40px;
}
  .orange_menu .menu_und a .arrow_top{
    position: fixed;
    width: 40px;
    height: 20px;
    background-color: #aaa;
    z-index: 10000;
    top: 0; 
  }
  .orange_menu .menu_und{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  .orange_menu .menu_und .blue_menu_inner{
    margin-top: 0;
  }
  .orange_menu .menu_und a .arrow_bottom{
    position: fixed;
    width: 40px;
    height: 20px;
    background-color: #aaa;
    z-index: 10000;
    bottom: -2px; 
    right: 0;
  }
  .orange_menu .owl-stage .owl-item:nth-child(1) .menu_img{
    margin-top: 3px;
  }
  .orange_menu .owl-stage .owl-item:last-child .menu_img{
    margin-bottom: 3px;
  }
  .orange_menu_inner{
    margin-top: 0;
  }
  .orange_menu .menu_und .menu_carousel{
    width: 40px;
  }
  .orange_menu .menu_und a .arrow_bottom, .orange_menu .menu_und a .arrow_top{
    
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .orange_menu .menu_und a .arrow_bottom::after{
    content: " ";
    width: 9px;
    height: 2px;
    transform: rotate(-45deg);
    background-color: #fff;
    margin-left: -2px;
  }
  .orange_menu .menu_und a .arrow_bottom::before{
    content: " ";
    width: 9px;
    height: 2px;
    transform: rotate(45deg);
    background-color: #fff;
    margin-right: -2px;
  }
  .orange_menu .menu_und a .arrow_top::after{
    content: " ";
    width: 9px;
    height: 2px;
    transform: rotate(45deg);
    background-color: #fff;
    margin-left: -2px;
  }
  .orange_menu .menu_und a .arrow_top::before{
    content: " ";
    width: 9px;
    height: 2px;
    transform: rotate(-45deg);
    background-color: #fff;
    margin-right: -2px;
  }
}
@media (min-width: 769px) and (min-height: 634px){
  .orange_menu .menu_und a .arrow_bottom, .orange_menu .menu_und a .arrow_top{
    
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .orange_menu .menu_und .menu_carousel {
    width: 40px;
  } 
}
@media (min-width: 769px) and (min-height: 740px){
  .blue_menu .menu_und a .arrow_bottom, .blue_menu .menu_und a .arrow_top{
    
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .blue_menu .menu_und .menu_carousel {
    width: 40px;
  } 
}

@media (max-height: 890px) and (min-width: 769px){
  .blue_menu .menu_und{
  position: relative!important;
}
.blue_menu .menu_und a{
    display: block;
  width: 40px!important;
}
  .blue_menu .menu_und a .arrow_top{
    position: fixed!important;
    width: 40px!important;
    height: 20px!important;
    background-color: #aaa!important;
    z-index: 10000!important;
    top: 0!important; 
  }
  .blue_menu{
    height: 100vh!important;
  }
  .blue_menu .menu_und{
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
    height: 100vh!important;
  }
  .blue_menu .menu_und .blue_menu_inner{
    margin-top: 0!important;
  }
  .blue_menu .menu_und a .arrow_bottom{
    position: fixed!important;
    width: 40px!important;
    height: 20px!important;
    background-color: #aaa!important;
    z-index: 10000!important;
    bottom: -2px!important; 
    left: 0!important;
  }
  .blue_menu .owl-stage .owl-item:nth-child(1) .menu_img{
    margin-top: 3px!important;
  }
  .blue_menu .owl-stage .owl-item:last-child .menu_img{
    margin-bottom: 3px!important;
  }
  .blue_menu .menu_und a .arrow_bottom, .blue_menu .menu_und a .arrow_top{
    
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
  }
  .blue_menu .menu_und a .arrow_bottom::after{
    content: " ";
    width: 9px!important;
    height: 2px!important;
    transform: rotate(-45deg)!important;
    background-color: #fff!important;
    margin-left: -2px!important;
  }
  .blue_menu .menu_und a .arrow_bottom::before{
    content: " ";
    width: 9px!important;
    height: 2px!important;
    transform: rotate(45deg)!important;
    background-color: #fff!important;
    margin-right: -2px!important;
  }
  .blue_menu .menu_und a .arrow_top::after{
    content: " ";
    width: 9px!important;
    height: 2px!important;
    transform: rotate(45deg)!important;
    background-color: #fff!important;
    margin-left: -2px!important;
  }
  .blue_menu .menu_und a .arrow_top::before{
    content: " ";
    width: 9px!important;
    height: 2px!important;
    transform: rotate(-45deg)!important;
    background-color: #fff!important;
    margin-right: -2px!important;
  }
  .blue_menu .menu_und .menu_carousel{
    width: 40px!important;
  }

}
@media (max-height: 702px) and (min-width: 769px){
  .orange_menu .menu_und{
  position: relative!important;
}
 .orange_menu{
  height: 100vh!important;
 }
.orange_menu .menu_und a{
  width: 40px!important;
}
  .orange_menu .menu_und a .arrow_top{
    position: fixed!important;
    width: 40px!important;
    height: 20px!important;
    background-color: #aaa!important;
    z-index: 10000!important;
    top: 0!important; 
  }
  .orange_menu .menu_und{
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
    height: 100vh!important;
  }
  .orange_menu .menu_und .blue_menu_inner{
    margin-top: 0!important;
  }
  .orange_menu .menu_und a .arrow_bottom{
    position: fixed!important;
    width: 40px!important;
    height: 20px!important;
    background-color: #aaa!important;
    z-index: 10000!important;
    bottom: -2px!important; 
    right: 0!important;
  }
  .orange_menu .owl-stage .owl-item:nth-child(1) .menu_img{
    margin-top: 3px!important;
  }
  .orange_menu .owl-stage .owl-item:last-child .menu_img{
    margin-bottom: 3px!important;
  }
  .orange_menu_inner{
    margin-top: 0!important;
  }
  .orange_menu .menu_und .menu_carousel{
    width: 40px!important;
  }
  .orange_menu .menu_und a .arrow_bottom, .orange_menu .menu_und a .arrow_top{
    
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
  }
  .orange_menu .menu_und a .arrow_bottom::after{
    content: " ";
    width: 9px!important;
    height: 2px!important;
    transform: rotate(-45deg)!important;
    background-color: #fff!important;
    margin-left: -2px!important;
  }
  .orange_menu .menu_und a .arrow_bottom::before{
    content: " ";
    width: 9px!important;
    height: 2px!important;
    transform: rotate(45deg)!important;
    background-color: #fff!important;
    margin-right: -2px!important;
  }
  .orange_menu .menu_und a .arrow_top::after{
    content: " ";
    width: 9px!important;
    height: 2px!important;
    transform: rotate(45deg)!important;
    background-color: #fff!important;
    margin-left: -2px!important;
  }
  .orange_menu .menu_und a .arrow_top::before{
    content: " ";
    width: 9px!important;
    height: 2px!important;
    transform: rotate(-45deg)!important;
    background-color: #fff!important;
    margin-right: -2px!important;
  }
}
@media (min-width: 769px) and (min-height: 634px){
  .orange_menu .menu_und a .arrow_bottom, .orange_menu .menu_und a .arrow_top{
    
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
  }
  .orange_menu .menu_und .menu_carousel {
    width: 40px!important;
    /*right: 0;*/
  } 
}
@media (min-width: 769px) and (min-height: 740px){
  .blue_menu .menu_und a .arrow_bottom, .blue_menu .menu_und a .arrow_top{
    
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
  }
  .blue_menu .menu_und .menu_carousel {
    width: 40px!important;
  } 
}

@media (min-width: 769px){
 
  .blue_menu .menu_und .menu_carousel{
    top: 19px;
  }
  .orange_menu .menu_und .menu_carousel{
    top: 19px;
  }
}
@media (max-width: 769px){
  .owl-carousel.owl-drag .owl-item{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .active_img::after{
    right: 0!important;
    left: 0!important;
  }
  .active_img_right::after{
    top: inherit!important;
    bottom: -6px!important;
  }

}
/*
.news_bg{
  background-color: #fff!important;
}*/


@media (max-width: 769px){
 .owl-prev .carousel_prev{
  display: flex!important;
  align-items: center!important;
  justify-content: center!important;
  flex-direction: column!important;
  position: fixed!important;
  width: 20px!important;
  height: 40px!important;
  background-color: #aaa!important;
  z-index: 10000!important;
  bottom: 0px!important; 
  left: 0!important;
  }
  .owl-prev .carousel_prev::after{
    content: " ";
    width: 9px!important;
    height: 2px!important;
    transform: rotate(45deg)!important;
    background-color: #fff!important;
    position: absolute;
    bottom: 16px;
  }
  .owl-prev .carousel_prev::before{
    content: " ";
    width: 9px!important;
    height: 2px!important;
    transform: rotate(-45deg)!important;
    background-color: #fff!important;
    position: absolute;
    top: 16px;
  }
  .blue_menu .owl-prev .carousel_prev{
    top: 0;
  }


   .owl-next .carousel_prev{
  display: flex!important;
  align-items: center!important;
  justify-content: center!important;
  flex-direction: column!important;
  position: fixed!important;
  width: 20px!important;
  height: 40px!important;
  background-color: #aaa!important;
  z-index: 10000!important;
  bottom: 0px!important; 
  right: 0!important;

  }
  .owl-next .carousel_prev::after{
    content: " ";
    width: 9px!important;
    height: 2px!important;
    transform: rotate(-45deg)!important;
    background-color: #fff!important;
    position: absolute;
    bottom: 16px;
  }
  .owl-next .carousel_prev::before{
    content: " ";
    width: 9px!important;
    height: 2px!important;
    transform: rotate(45deg)!important;
    background-color: #fff!important;
    position: absolute;
    top: 16px;
  }
  .blue_menu .owl-next .carousel_prev{
    top: 0;
  }

}

@media (max-width: 599px){
 .owl-prev .carousel_prev{  
    height: 48px!important;  
  }
  .owl-prev .carousel_prev::after{
    bottom: 21px;
  }
  .owl-prev .carousel_prev::before{
      top: 21px;
  }
  
   .owl-next .carousel_prev{  
  height: 48px!important;
  }
  .owl-next .carousel_prev::after{   
    bottom: 21px;
  }
  .owl-next .carousel_prev::before{    
    top: 21px;
  }
  
}
.menu_news{
  display: none;
    position: fixed;
    width: 178px;
    left: 40px;
    background-color: #717171;
    top: 0;
    z-index: 101;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: scroll;
}
.menu_news ul{
  padding-left: 0;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}
.menu_news ul li{
  list-style: none;
}
.menu_news ul li img{
  margin-right: 10px;
}
.menu_news ul a{
    display: block;
    text-align: left;
  text-decoration: none;
}
.menu_news ul a li{
  font-size: 13px;
  line-height: 24px;
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: 400;
  padding: 0 15px;
}
.menu_news ul a li:hover{  
  background-color: #848484;
  transition: all .1s linear;
}
.menu_news>div{
  padding-top: 10px;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  font-family: "Open Sans";
  text-decoration: underline;
  padding-left: 15px;
    text-align: left;
}
.menu_news::-webkit-scrollbar { width: 0; }

/* ie 10+ */
.menu_news{ -ms-overflow-style: none; }

/* фф (свойство больше не работает, других способов тоже нет)*/
.menu_news{ overflow: -moz-scrollbars-none; }

@media (max-width: 769px){
  .menu_news{
    top: 40px;
    left: 0;    
  }
}
@media (max-width: 599px){
  .menu_news{
    top: 50px;  
  }  
}
.active_img_new{
  background-color: transparent!important;
  border: 1px solid #fff;
  box-shadow: none!important;
}

.block-content p{
  font-size: 10px;
color: #7e7e7e;
font-family: "Open Sans";
font-weight: 400;
}
.block-content p.bold{
  font-weight: 600;
  font-size: 12px;
  color: #292929;
  font-family: "Open Sans";
}
hr{
  border-color: #bababa!important;
  border-top-width: 2px!important ;
  width: 98%;
}
.menu a:hover{
  text-decoration: none;
}
@media (min-width: 769px){
  .menu_btn{
    display: flex;
  }
  .menu_btn .page_name{
    display: flex;
    flex-direction: column;
  }
  .menu_btn .page_name a{
    margin-top: 0!important;
    font-size: 14px!important;
    color: #316c8d!important;
    font-family: "Open Sans"!important;
    font-weight: 400!important;
  }
  .menu_btn .page_name span{
    color: #00b050!important;
    font-family: "Open Sans"!important;
    font-weight: 600!important;
    font-size: 16px!important;
  }
  .menu_btn div:nth-child(2){
    margin-left: 10px;
  }
  .menu_btn div:nth-child(2) a{
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 14px!important;
    color: #fefefe!important;
    font-family: "Open Sans";
    font-weight: 600!important;
    margin-top: 0!important;
  }
}
@media (max-width: 1400px){
  .menu_btn{
    margin-left: 1.5%!important;
  }
}
@media (max-width: 1200px){
  .menu_btn{
    margin-left: 2%!important;
  }
}
@media (max-width: 769px){
  .menu_btn{
    display: flex;
    justify-content: space-between;
    width: 100%!important;
    margin: 0!important;
  }
  .main_main{
    margin-top: 10px!important;
  }
  .menu_btn{
    display: flex;
  }
  .menu_btn .page_name{
    display: flex;
    flex-direction: column;
  }
  .menu_btn .page_name a{
    margin-top: 0!important;
    font-size: 14px!important;
    color: #316c8d!important;
    font-family: "Open Sans"!important;
    font-weight: 400!important;
  }
  .menu_btn .page_name span{
    color: #00b050!important;
    font-family: "Open Sans"!important;
    font-weight: 600!important;
    font-size: 16px!important;
  }
  .menu_btn div:nth-child(2){
    margin-left: 10px;
  }
  .menu_btn div:nth-child(2) a{
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 14px!important;
    color: #fefefe!important;
    font-family: "Open Sans";
    font-weight: 600!important;
    margin-top: 0!important;
  }
  .header .row .menu{
    width: 100%!important;
    margin: 0!important;
  }
  .header .row .menu .row{
    display: flex;
    width: 100%!important;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 21px;
  }
  .header .row .menu .row a{
    width: 33%;
    margin: 0!important;
  }
  
  .header .row .menu .row a:nth-child(3n+2){
    text-align: center;
  }  
  .header .row .menu .row a:nth-child(3n+3){
    text-align: right;
  }
  .header .row .menu .row:before{
    content: none!important;
   }
}
@media (max-width: 599px){
  .main_main {
    margin-top: 32px!important;
    
}
}
@media (max-width: 599px){
  .header .row .menu .row a:nth-child(3n+2){
    text-align: left;
  }  
  .header .row .menu .row a:nth-child(3n+3){
    text-align: left;
  }
  .header .row .menu .row a:nth-child(2n+2){
    text-align: right;
  }
  .header .row .menu .row a{
    width: 50%!important;
  }
}
@media(max-width: 769px) and (min-width: 750px){
  .menu_carousel{
    width: 95%;
    margin-left: 2.5%!important;
  }
}
span.Refs_target{
  display: flex;
}
span.Refs_target a{
  color: #333!important;
}
.main_main .shop .row{
  width: 100%;
}
.menu a span{
  color: rgb(204,0,0)!important;
}
body.home-page {
    background: #5f9aba !important;
    overflow: auto;
}
body.home-page .main_main {
    width: 100% !important;
    padding: 0 !important;
    background-color: transparent !important;
    overflow: initial !important;
}
body.home-page #header {
    display: none;
}
.index-page {
    background: #5f9aba;
}
.index-page__body {
    padding-top: 60px;
}
.index-page__blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -15px;
}
.index-page__block {
    min-width: 170px;
    height: 170px;
    flex: 1 1 auto;
    text-align: center;
    padding: 15px;
}
.index-page__block--link {
    display: flex;
    height: 100%;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    transition: 1s;
}
.index-page__block--link:hover {
    font-weight: normal !important;
    background: #4b809d;
    border: 1px solid #47738b;
    border-radius: 3px;
    transition: 1s;
}
.index-page__name {
    font-size: 12px;
    color: #ffffff;
}
.message__block {
    position: absolute;
    transition: 1s;
}
.message__block:hover {
    transform: scale(1.2); 
    z-index: 9;
}
.message__block-blue,
.message__block-orange {
    width: 35px;
    height: 50px;
    -webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.4);
}
.message__block-violet,
.message__block-green {
    width: 50px;
    height: 35px;
    -webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.4);
}
.message__block-blue {
    top: 0;
    left: 0;
    border-radius: 100% 0 0 0;
    background: url(/img/blue_info.svg) no-repeat;
    background-size: 53px;
    background-position: center;
}
.message__block-orange {
    right: 0;
    bottom: 0;
    border-radius: 0 0 100% 0;
    background: url(/img/orange_info.svg)no-repeat;
    background-size: 53px;
    background-position: center;
}
.message__block-violet {
    top: 0;
    right: 0;
    border-radius: 0 100% 0% 0;
    background: url(/img/violet_info.svg) no-repeat;
    background-size: 53px;
    background-position: center;
}
.message__block-green {
    left: 0;
    bottom: 0;
    border-radius: 0 0 0 100%;
    background: url(/img/green_info.svg) no-repeat;
    background-size: 53px;
    background-position: center;
}
.message {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  /*background-color: #078fdc!important;*/
  z-index: 101;
  
  bottom: 4%!important;
  right: 48px!important;
  /*display: flex!important;
  justify-content: center!important;
  align-items: center!important;*/
  position: fixed;
}
.message__inner {
    width: 85px;
    height: 85px;
    position: relative;
}
.message__message-icon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 8px;
    display: block;
    width: 18px;
    height: 16px;
    background: url(/img/index-message.png) no-repeat;
}
.message__favorite-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    display: block;
    width: 18px;
    height: 16px;
    background: url(/img/index-favorite.png) no-repeat;
}
.message__info-icon {
    position: absolute;
    left: 8px;
    top: 10px;
    display: block;
    width: 20px;
    height: 15px;
    background: url(/img/index-info.png) no-repeat;
}
.message__notification-icon {
    position: absolute;
    right: 8px;
    top: 10px;
    display: block;
    width: 14px;
    height: 17px;
    background: url(/img/index-noti.png) no-repeat;
}

/*HEADER*/
.index-page__header {
    position: fixed;
    width: 100%;
    z-index: 9;
    top: 0;
    background: #4782a3;
    padding: 5px 0;
}
.header-blocks {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-blocks__left,
.header-blocks__right {
    display: flex;
    align-items: center;
}
.header-blocks__left > div {
    margin-right: 10px
}
.header-blocks__right > div {
    margin-left: 10px;
}
.header-blocks__link {
    display: block;
}
.header-blocks__logo {
    width: 34px;
}
.header-message__icon {
    display: block;
    width: 18px;
    height: 16px;
    background: url(/img/index-message.png) no-repeat;
}
.header-favorite__icon {
    display: block;
    width: 18px;
    height: 16px;
    background: url(/img/index-favorite.png) no-repeat;
}
.header-notification__icon {
    display: block;
    width: 14px;
    height: 17px;
    background: url(/img/index-noti.png) no-repeat; 
}
.header-info__icon {
    display: block;
    width: 20px;
    height: 15px;
    background: url(/img/index-info.png) no-repeat; 
}
.header-plus__icon {
    display: block;
    width: 21px;
    height: 21px;
    background: url(/img/index-plus.png) no-repeat;
}
.header-profile__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #fff;
    width: 35px;
    height: 35px;
}
.profile-avatar {
    object-fit: contain;
}
.header-balance__icon {
    display: block;
    width: 20px;
    height: 20px;
    background: url(/img/index-balance.png) no-repeat;
}
.header-balance__summa {
    display: inline-block;
    margin-left: 5px;
    color: #fff;
    font-size: 10px;
}
.header-balance__info {
    display: flex;
    align-items: center;
}
.header-exit__icon {
    display: block;
    width: 18px;
    height: 17px;
    background: url(/img/index-exit.png) no-repeat;
}
.index-page__icon {
    height: 45px; 
    margin-bottom: 20px;
}
.index-page__icon img {
    height: 100%;
    object-fit: cover;
}
.news-block__parent {
    position: relative;
}
.news-block__title {
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    text-decoration: underline;
    padding-left: 15px;
    margin-bottom: 10px;
}
.news-block__item {
    display: none;
    padding: 10px 0;
    position: absolute;
    /*height: 87vh !important;*/
    right: -160px;
    left: auto;
    width: 178px;
    background-color: #717171;
    top: 0;
    /*z-index: 101;*/
    overflow: auto;
    overflow-x: hidden;
    /*overflow-y: scroll;*/
}
.news-block__links a {
    display: block;
    color: #fff !important;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    padding: 0 15px;
    text-align: left;
}
.news-block__links a img {
    margin-right: 10px;
}
.news-block__parent.opened .news-block__item {
    display: block;
}

@media(min-width: 1025px) {
    .news-block__parent:hover .news-block__item {
        display: block !important;
    }
}
@media (max-width: 769px){
    .message{
        right: 4px!important;
        bottom: 44px!important;
    }
    .home-page .main.main_main {
        margin-top: 0 !important;
        height: auto !important;
    }
}

@media(max-width: 850px) {
    .news-block__item {
        right: 100%;
    }
}

@media(max-width: 575px) {
    .index-page__block {
        min-width: 100px;
        height: 105px;
        text-align: center;
        padding: 5px 0;
        margin: 0 2px;
    }
    .index-page__icon {
        margin-bottom: 10px;
    }
    .index-page__blocks {
        margin: 0 -5px;
    }
    .index-page__header .container-fluid,
    .index-page__body .container-fluid {
        padding: 0 7px;
    }
    .header-blocks__left > div {
        margin-right: 8px;
    }
    .header-blocks__right > div {
        margin-left: 8px;
    }
}

@media (max-width: 600px){
  .message{
    right: 4px!important;
    bottom: 54px!important;
  }
}

@media(max-width: 420px) {
    .news-block__item {
        right: -180px;
    }
}