
/***wiki page */
.wiki_page{
  padding: 10px 0;
  padding-top: 7px;
}
.wiki_page.wiki_in_page{
  padding: 10px 14px;
  padding-top: 30px;
}
.wiki_page .body{
   
    position: relative;
}
.wiki_page .hidden_form{
  display: none;
}
.wiki_page .hreff_block{
    width: 94.2%;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 54px;
    display: flex;
    position: absolute;
    border-top: 2px solid #bababa;
    flex-direction: row-reverse;
    z-index: 1000;
}
.wiki .profile__header{
  border: none;
}
.wiki_page .hreff_block div:nth-child(1){
  margin-left: 6px;
}
.wiki_page .hreff_block div{
    width: 48px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5f9abb;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.wiki_page .field-wiki-name label{
  font-size: 20px;
}
.wiki_page .forms_block.left_block.body_left__block >div{
  display: block;
    width: 100%;
    height: 68px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #e4e4e4;
    border-radius: 6px;
    transition: 1s;
   
    overflow: auto;
}
.wiki_page .forms_block.left_block .form-control{
  border: 1px solid #e4e4e4;
    border-radius: 6px;
    transition: 1s;
}
.wiki_page .forms_block>div:focus{
  border-color: darkturquoise;
}
.wiki_page h2{
  font-weight: normal;
  font-size: 16px;
  color: #000;
}/*
.wiki_page .left_block{
  width: 80%;
}*/
.wiki_page .right_block{
    position: absolute;
    right: 0;
    width: 300px;
    background: #fff;
    padding: 10px;
    top: 31px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid #999;

}
.wiki_page .right_block .field-wiki-photo label{
  width: 100%;
    background-color: #ccc;
    cursor: pointer;
    position: relative;
}
.wiki_page .right_block .field-wiki-photo label img{
  width: 100%;
}
.wiki_page .right_block .field-wiki-photo{
  margin-bottom: 0px;
}
.wiki_page .right_block .field-wiki-photo input:nth-child(3){
  display: none;
}
.wiki_page .right_block .field-wiki-photo label:after{
  content: 'Загрузите фото';
    color: #ccc;
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    cursor: pointer;
    font-size: 16px;
color: #d9d9d9;
font-weight: 600;
font-family: "Open Sans";
text-align: center;
padding-top: 6px;
padding-bottom: 6px;
}
.wiki_page .right_block>div:not(.field-wiki-photo):not(.birth_wiki){
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 0px;
    padding-left: 6px;
    font-size: 10px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #e4e4e4;
    border-radius: 6px;
    transition: 1s;
    overflow: auto;   
     margin-top: 6px;
}
.wiki_page.wiki_in_page .right_block>div:not(.field-wiki-photo):not(.birth_wiki){
  padding-left: 0;
}
.wiki_page .right_block .birth_wiki{
  width: 100%;
}
.wiki_page .right_block>div:not(.field-wiki-photo):not(.birth_wiki):nth-child(3){
 
  width: 49%;
}

.wiki_page .right_block>div:not(.field-wiki-photo):not(.birth_wiki):nth-child(4){
  width: 49%;  
}
.wiki_page .right_block .birth_wiki{
   display: flex;
    align-items: baseline;
    justify-content: space-between;
    font-size: 12px;
}
.wiki_page .right_block .birth_wiki select, .wiki_page .right_block .birth_wiki input{
  font-size: 14px;
    padding: 10px 0;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 2px solid #e5e5e5;
    border-radius: 6px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.wiki_page .right_block .birth_wiki select#day{
  padding: 10px 8px;
}
.wiki_page .right_block .birth_wiki select#mouth{
  margin: 0 4px;
}
.wiki_page .right_block .birth_wiki input{
    width: 57px;
    padding: 21px 0;
    text-align: center;
}

.wiki_page.wiki_in_page .forms_block.left_block.body_left__block >div{
  height: inherit;
}
.wiki_page .stats_block{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.wiki_page .stats_block hr{
  width: 100%;
}
.wiki_page .stats_block img{
  width: 22px;
  margin-right: 6px;
  margin-left: 40px;
}
.wiki_page .stats_block img:nth-child(2){
  margin-left: 0;
}

.button_block{
  margin-top: 18px;
}
.button_block .btn{
  font-size: 14px!important;
}
.button_block .profile__save-btn{
  margin-right: 10px;
}
@media (max-width: 1458px){
  .wiki_page{
    padding: 10px 20px;
    padding-top: 57px;
  }
  .wiki_page .hreff_block{
    width: 93%;
  }

}
@media (max-width: 1370px){
  .wiki_page .hreff_block{
    width: 92%;
    
    top:  55px;
  }

}
@media (max-width: 1190px){
  .wiki_page .hreff_block{  
  }

}
@media (max-width: 1030px){
  .wiki_page .hreff_block{    
    width: 90%;
  }
  .wiki_page {
    padding: 10px 30px;
    padding-top: 57px;
}
}
@media (max-width: 990px){
  .wiki_page .hreff_block{
    width: 89%;
  }

}
@media (max-width: 900px){
  .wiki_page .hreff_block{ 
  }

}
@media (max-width: 769px){
  .wiki_page .hreff_block{    
    width: 97.4%;
    top: 57px
  }
  .wiki_page {
    padding: 0 10px;
    padding-top: 57px;
}
}
@media (max-width: 825px){
  .wiki_page .hreff_block{    
    width: 96%;
  }
  .wiki_page .right_block{
    position: static;
    width: 100%;
  }
}
@media (max-width: 405px){  
  .button_block .profile__preview-btn{
    margin-top: 10px;
  }
}
@media (max-width: 826px){  
  .wiki_page .right_block img{
    width: 100%;
  }
  .wiki_page.wiki_in_page .forms_block.left_block.body_left__block div.wiki-description{
   margin-top: 30px;
  }
}

.d-none{
  display: none;
}
.wiki_in_page.wiki_page .right_block .birth_wiki div{
  width: 50%;
  font-weight: 700;
  font-size: 12px;
  color: #000;
  
}

.wiki_page .field-wiki-name label{
  font-size: 30px;
  line-height: 18px;
  font-weight: 400;
  color: #2c2c2c;
  font-family: 'Times New Roman', sans-serif!important;
  margin-bottom: 12px;
}
.wiki_page .left_block h2:nth-child(1){
  font-size: 14px;
line-height: 18px;
margin-top: 7px;
  margin-bottom: 3px;
color: #2c2c2c;
font-family: "Times New Roman"!important;
}
.wiki_page .left_block h2{
  font-size: 21px;
  margin-top: 10px;
  margin-bottom: 7px;
line-height: 18px;
color: #2c2c2c;
font-family: "Times New Roman"!important;
}
.wiki_page .body .left_block:nth-child(1)  .form-group{
  margin-bottom: 0;
}

.wiki_page .right_block .birth_wiki{
  font-size: 12px;
color: #000000;
font-weight: 600;
font-family: "Open Sans"!important;
margin-top: 20px;
}
.wiki_page .right_block>div:not(.field-wiki-photo):not(.birth_wiki){
  font-size: 12px;
color: #828282;
font-weight: 400;
font-family: "Open Sans"!important;
    border: 2px solid #e5e5e5;
    border-radius: 6px;
    transition: 1s;
}

.wiki_page.wiki_in_page .right_block>div:not(.field-wiki-photo):not(.birth_wiki):nth-child(3) {
  width: 100%;
}
.wiki_page.wiki_in_page .right_block>div:not(.field-wiki-photo):not(.birth_wiki):nth-child(4){
  width: 100%;
}
.wiki_page.wiki_in_page .right_block>div:not(.field-wiki-photo):not(.birth_wiki){
  border: none;
  border-radius: 0;
  box-shadow: none;
  font-weight: 700;
  font-size: 12px;
  color: #000;
  display: flex;
  justify-content: space-between;  
}
.wiki_page.wiki_in_page .right_block>div:not(.field-wiki-photo):not(.birth_wiki) div{
  width: 50%;
}
.wiki_page.wiki_in_page .forms_block.left_block.body_left__block >div {
  width: fit-content;
  overflow: auto;
    overflow-x: hidden;
    font-size: 14px;
color: #000000;
font-weight: 400;
font-family: "Open Sans";
}
.wiki_page.wiki_in_page .forms_block.left_block.body_left__block>div:before{
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 6px solid #fff; 
  border-left: 10px solid transparent;
  left: -8px;
}
.wiki_page.wiki_in_page .left_block h2:nth-child(1){
   font-size: 21px;
line-height: 18px;
margin-top: 10px;
  margin-bottom: 7px;
color: #2c2c2c;
font-family: "Times New Roman"!important;
}
.wiki_page h2{
  font-size: 21px;
line-height: 18px;
color: #2c2c2c;
font-family: "Times New Roman"!important;
}
.wiki_page .forms_block.left_block.body_left__block >div{
  font-size: 14px;
color: #000000;
font-weight: 400;
font-family: "Open Sans";
}
.wiki_in_page.wiki_page .right_block .birth_wiki div {
  font-size: 12px;
color: #000000;
font-weight: 400;
font-family: "Open Sans";
}
.wiki_in_page.wiki_page .right_block .birth_wiki div:nth-child(1){
font-weight: 700;
}
.wiki_page.wiki_in_page .right_block>div:not(.field-wiki-photo):not(.birth_wiki) div:nth-child(2n+1){
  font-size: 12px;
color: #000000;
font-weight: 700;
font-family: "Open Sans";
}
.wiki_page.wiki_in_page .right_block>div:not(.field-wiki-photo):not(.birth_wiki) div:nth-child(2n){
font-size: 12px;
color: #000;
font-weight: 400;
font-family: "Open Sans";
}
.wiki_page.wiki_in_page .field-wiki-name label{
  font-size: 30px;
line-height: 18px;
font-weight: 400;
color: #2c2c2c;
font-family: "Times New Roman"!important;
}
.account__user-photo img{
  border-radius: 100%;
}
body{
  margin: 0;
}
#mCSB_1_container{
  min-height: 100%;
}
.wiki_page.wiki_in_page .right_block>div:not(.field-wiki-photo):not(.birth_wiki){
  height: inherit;
}
@media (max-width: 1025px){
.wiki_page{ 
  padding-top: 15px;
}
.wiki .profile__header{
  flex-flow: inherit;
}
}
@media (max-width: 489px){
.wiki .profile__header .profile__header-right{
      flex-direction: column;
    text-align: right;
}
.wiki .profile__header .profile__header-right div{
  width: 100%;
}
}
.profile__body .wiki_page{
  width: 100%;
}
.wiki .page-name{
  width: 180px;
  flex: 0 0 180px;
}
.wiki .profile__header-right{
  width: 100%;
  justify-content: space-between;
}
.wiki .profile__header-right .watch_prew{
  font-size: 12px;
color: #5f9abb;
font-weight: 600;
font-family: "Open Sans";
cursor: pointer;
}
.wiki .profile__header-right .hreff_but_info{
  font-size: 12px;
color: #858585;
font-weight: 600;
font-family: "Open Sans";
cursor: pointer;
}
.wiki_page .forms_block div a{
  text-decoration: underline!important;
}

/**Menu_new**/
.account__photo{
  display: flex;
    align-items: center;
    justify-content: center;
}
.account__photo img{
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.account__name{
  margin-left: 4px;
  font-size: 12px;
color: #ffffff;
font-weight: 700;
font-family: "Open Sans";
}
.account__name span{
  font-size: 10px;
  font-weight: 600;
}
.account__header-block .dropdown_right{
    height: 40px;
    display: flex;
    width: 28px;
    justify-content: center;
    align-items: center;
}
.account__header-block .dropdown:hover{
  background-color: #00b050;
}
.hamburger-for-orangemenu{
  margin-left: 0!important;
}
.account__edition-dropdown {
  top: 40px;
  right: 0!important;
  left: inherit!important;
  background-color: #00b050!important;
}
.account__edition-item:hover{
  background-color: #50d050!important;
}
.account__edition-dropdown_block {
  display: block;
}
@media (max-width: 769px){
  .blue_menu .owl-prev .carousel_prev {
      display: none!important;
  }
  .move-left .blue_menu .owl-prev .carousel_prev {
      display: flex!important;
  } 
  .blue_menu .owl-next .carousel_prev {
      display: none!important;
  }
  .move-left .blue_menu .owl-next .carousel_prev {
      display: flex!important;
  } 
}
@media (max-width: 640px){
  .account__dropdown-block{
  background-color: #50d050!important;
}
.account__header-block .dropdown:hover{
   background-color: #50d050;
}
.dropdown.show  .account__dropdown-menu{
    display: block;
    top: 28px;
    display: block;
    right: 0;
    left: inherit;
    background-color: #00b050;
    overflow: auto;
    overflow-y: scroll;
    max-height: 100vh;
    height: 2700%;
}
.dropdown.show .account__dropdown-item.active{
  background-color: #50d050;
}
}
  .account__name{
    line-height: 1.1;
  }
@media (max-width: 640px){
  .account__name{
    font-size: 10px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Open Sans";
    line-height: 1.1;
  }
  .account__name span{
    font-size: 9px;
    font-weight: 400;
  }
  .wiki_page.wiki_in_page .field-wiki-name label{
    line-height: 26px;
  }
}

.dropdown.show{
  background-color: #00b050!important;
}

.account__info-text .menu-dots{
  position: relative;
}
.account__info-text .menu-dots:after{
  content: "";
  position: absolute;
  width: 32px;
  right: -6px;
  height: 10px;
  bottom: -10px;
  background-color: #50d050;
}
.account__info-text .menu-dots:before{
  content: "";
  position: absolute;
  width: 32px;
  right: -6px;
  height: 5px;
  top: -5px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: #50d050;
}
.dropdown.show .account__info-text .menu-dots:before, .dropdown.show .account__info-text .menu-dots:after{
  background-color: #00b050;
}
@media (min-height: 580px){
  .dropdown.show .account__dropdown-menu{
    overflow-y: hidden;
  }
}

.wiki_page .right_block [contenteditable=true]:empty:before{
  content: attr(placeholder);
  pointer-events: none;
  display: block; /* For Firefox */
}